.sidebar {
  max-height: calc(100vh - (var(--ifm-navbar-height) + 2rem));
  overflow-y: auto;
  position: sticky;
  top: calc(var(--ifm-navbar-height) + 2rem);
}

.sidebarItemTitle {
  font-size: var(--ifm-h3-font-size);
  /* font-size: 50px !important; */
  font-weight: var(--ifm-font-weight-bold);
}

.sidebarItemList {
  /* font-size: 0.9rem; */
  li > ul {
    list-style: none;
    a {
      padding-top: 3px;
    }
  }
  li > div {
    font-size: 17px;
    font-weight: 500;
    padding-top: 18px;
    padding-bottom: 2px;
  }
  li > div > a {
    color: var(--ifm-font-color-base);
  }
  li > div > a:hover {
    text-decoration: none;
  }
}

.sidebarItem {
  margin-top: 0.9rem;
}

.sidebarItemLink {
  color: var(--ifm-font-color-base);
  display: block;
}

.sidebarItemLink:hover {
  text-decoration: none;
}

.sidebarItemLinkActive {
  color: var(--ifm-color-primary) !important;
  /* font-weight: bold; */
}

/* .sidebarItemList > ul > li > div + ul > li.news > a {
  display: inline-block;
  color: red !important;
}

.sidebarItemList > ul > li > div + ul > li.news > a::after {
  display: inline;
  content: 'New';
  border-radius: 4px;
  padding: 0 3px;
  border: 1px solid none;
  background-color: rgb(232, 225, 255);
  color: rgb(139, 82, 255);
  font-family: "Oleo Script";
  margin-left: 10px;
  font-weight: 400;
} */

li.news > a {
  display: inline-block;
  position: relative;
}

/* 

_meta.json 통해 사이드바 클래스 속성 부여

{ "link": "/blog/overview", "className": "news"  } 

*/

li.news > a::after {
  content: 'N';
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: rgb(225, 229, 255);
  color: rgb(82, 114, 255);
  font-family: "Oleo Script";
  font-size: 9.5px;
  font-weight: 500;
  margin-left: 5px;
  border: none;
  position: absolute;
  top: 8px;
  left: calc(100% + 1.5px);
  transform: none;
}

html[lang='en-US'] {
  .iflang {
    display: none !important;
  }
}

html[lang='ja-JP'] {
  .iflang {
    display: none !important;
  }
}

@media (max-width: 996px) {
  .sidebar {
    display: none;
  }
}
