.filetree {
  border: 1px solid var(--ifm-menu-color);
  border-radius: 5px;
  font-family: 'Noto Sans Coptic';
  padding: 15px 15px 15px 15px;
  margin-top: 20px;
}
.top {
  font-weight: 500;
  font-size: 18px;
  border: none;
  width: 100%;
  display: block;
  text-align: left;
  background: none;
  cursor: pointer;
  margin-left: 10px;
}

.top .type {
  color: var(--ifm-menu-color);
  margin-right: 5px;
  display: inline-block;
  position: relative;
  top: 3px;
}

.filetree ul.fileitem {
  margin-left: 15px;
  list-style-type: none;
  margin-left: 0px;
  padding-left: 28px;
}