@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Coptic&family=Noto+Sans+JP:wght@100..900&family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Oleo+Script:wght@400;700&display=swap');

@prince-pdf {
  -prince-pdf-page-layout: single-page;
  -prince-pdf-page-mode: show-bookmarks;
  -prince-pdf-open-action: zoom(fit-page);
  -prince-shrink-to-fit: none;
}
:root {
  --doc-sidebar-width: 220px !important;
  --ifm-color-primary: #296cf2;
  --ifm-color-primary-dark: #255fd3;
  --ifm-color-primary-darker: #1d4aa3;
  --ifm-color-primary-darkest: #16387d;
  --ifm-color-primary-light: #3574f0;
  --ifm-color-primary-lighter: #4a7fe9;
  --ifm-color-primary-lightest: #618ce4;
  --ifm-code-font-size: 14px;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.8);
  --ifm-code-padding-vertical: 0.01rem;
  /* --ifm-code-padding-horizontal: 0.01rem; */
  --shortcut-background-color: #fff;
  --main-osd-color: #296cf2;
  word-break: keep-all;
  --ifm-h1-font-size: 2.5rem;
  --ifm-h2-font-size: 1.1rem;
  --ifm-h4-font-size: 1.25rem;
  --ifm-h5-font-size: 1.0rem;
  --ifm-body-small-size: 0.875rem;
  --ifm-body-breacrums-size: 12px;
  /* --ifm-code-font-size: 85%; */
  /* --ifm-heading-font-family: 'Noto Sans', 'Noto Sans KR', 'Noto Emoji'; */
  --ifm-heading-font-weight: bold;
  --ifm-font-family-monospace: 'Noto Sans Coptic';
  --ifm-font-color-base: #222222;
  --ifm-font-color-doc-card: #000000;
  --ifm-font-code-color: #4c4c4c;
  --shortcut-list-color: #222222;
  --ifm-safe-color: #00b543;
  --ifm-list-left-padding: 1rem;
  --ifm-color-success-dark: #098938;
  --ifm-color-info-dark: #296CF2;
  --ifm-color-secondary-dark: #296CF2;
  --ifm-color-warning-dark: #ff9900;
  --ifm-color-danger-dark: #df3737;
  --ifm-alert-shadow: 0;
  --ifm-alert-background: #F5F7F9;
  --ifm-navbar-height: 76px;
  --ifm-breadcrums-arrow-color: #979797;
  --ifm-breadcrumb-border-radius: 12px;
  --ifm-breadcrumb-color-active: #326DE6;
  --ifm-navbar-search-input-color: #969696;
  --ifm-navbar-search-input-background-color: #fff;
  --ifm-navbar-search-input-placeholder-color: #666666;
  --ifm-menu-color: #333333;
  --ifm-menu-color-background-active: #ebf0fd;
  --ifm-container-width-xl: 1200px;
  --ifm-spacing-horizontal: 0px;
  --ifm-global-shadow-lw: 0;
  --ifm-pagination-sub-label: #757575;
  --ifm-color-emphasis-300: #d3d3d3;
  --ifm-active-menu-color: #efefef;
  --ifm-dropdown-link-color: #222222;
  /* --ifm-menu-link-sublist-icon: url('img/sub-list-right-arrow.svg'); */
}

@page {
  prince-shrink-to-fit: none;
  margin-top: 15mm;      /* 상단 여백 */
  margin-bottom: 15mm;   /* 하단 여백 - 이 값을 줄이세요 */
  margin-left: 10mm;     /* 좌측 여백 */
  margin-right: 10mm;    /* 우측 여백 */
  @top-right { content: string(doctitle);font-size: .75rem; border: none !important; }
  @bottom-center { content: counter(page);font-size: .75rem; }
}

@page:first {
  @bottom-center { content: normal !important;}
}

@media print {
  /* Fix pages cut off bug by Prince */
  /* Ref https://www.princexml.com/forum/topic/4608 */
  html[lang='ko-KR'] {
    word-wrap: keep-all;
    font-family: 'Noto Sans KR', sans-serif, 'Apple SD Gothic Neo' !important;
    h1, h2, h3, h4, h5, h6 {
      font-family: 'Noto Sans KR', sans-serif, 'Apple SD Gothic Neo' !important;
    }
    font-size: 10px;
  }
  body {
    transform: scale(0.8);
    transform-origin: top left;
    width: 125%; /* 스케일 다운을 보정 */
  }
  
  html[lang='en-US'] {
    word-wrap: keep-all;
    font-family: 'Noto Sans', sans-serif, 'Apple SD Gothic Neo' !important;
    h1, h2, h3, h4, h5, h6 {
      font-family: 'Noto Sans', sans-serif, 'Apple SD Gothic Neo' !important;
    }
  }
  
  html[lang='ja-JP'] {
    word-wrap: break-word;
    word-break: inherit;
    font-family: 'Noto Sans JP', 'Noto Sans', sans-serif, 'Apple SD Gothic Neo' !important;
    h1, h2, h3, h4, h5, h6 {
      font-family: 'Noto Sans JP', 'Noto Sans', sans-serif, 'Apple SD Gothic Neo' !important;
    }
  }

  .breadcrumbs__item--active.item-1 { -prince-bookmark-level: 1 }
  .breadcrumbs__item--active.item-2 { -prince-bookmark-level: 2 }
  .breadcrumbs__item--active.item-3 { -prince-bookmark-level: 3 }
  .breadcrumbs__item--active.item-4 { -prince-bookmark-level: 4 }

  .markdown h1::before,
  .markdown header h1::before,
  .theme-doc-markdown__title::before {
    content: none !important;
  }
  
  h1 { -prince-bookmark-level: none } 
  h2 { -prince-bookmark-level: none }
  h3 { -prince-bookmark-level: none }
  h4 { -prince-bookmark-level: none }
  h5 { -prince-bookmark-level: none }
  h6 { -prince-bookmark-level: none }

  section#toc a::after {
    content: leader('.') target-counter(attr(href), page);
  }

  .redocusaurus div.redoc-wrap div.api-content {
    width: 100% !important;
  }

  .redocusaurus div.redoc-wrap div.api-content > div > div[id*='operation'] > div,
  .redocusaurus div.redoc-wrap div.api-content > div[id*='section'] > div,
  .redocusaurus div.redoc-wrap div.api-content > div[id*='tag'] > div > div {
    width: 100% !important;
  }

  .row {
    display: block !important;
  }

  div.cover-page > a.pagination-nav__link--next {
    display: none;
  }

  .markdown header h1 { 
    string-set: doctitle content();
  }
  ul.theme-doc-sidebar-menu > li.theme-doc-sidebar-item-category-level-1 > div.menu__list-item-collapsible > a { string-set: prtitle content() }

  /* Elements should be removed in PDF */
  .navbar,
  .pagination-nav,
  a.hash-link,
  div[class*="docItemContainer"] article footer,
  aside[class*="docSidebarContainer"],
  a[class*="skipToContent"],
  div[class*="lastUpdated"],
  div[class*="tocCollapsible"],
  div[class*="tableOfContents"],
  nav.breadcrumbs,                     
  .theme-doc-breadcrumbs,             
  .breadcrumbs,                        
  hr,
  .footer {
    display: none !important;
  }
  img[src*='flexboard-share-'] {
    width: 60%;
  }
  img[src*='tps_example_02'], 
  img[src*='response_time_example_01'], 
  img[src*='apm-dashboard-best-practice'],
  img[src*='apm-dashboard-cpu-usage'],
  img[src*='tps-user-net-error'],
  img[src*='apm-dashbard-apdex'],
  img[src*='apm-dashbard-heap-memory'],
  img[src*='honeycomb-view'],
  img[src*='resourcemap-under40'] {
    width: 70%;
  }

  img[src*='interval-option'] {
    width: 50%;
  }
  .db-agent table img {
    width: 60%;
  }
  code {
    font-family: 'Noto Sans Coptic';
  }
  code[class*='codeBlockLines'] {
    float: none;
    display: block;
  }

  main .markdown ol {
    padding-left: 38px !important;
  }

  main .markdown .col--6 {
    --ifm-col-width: calc(50% - 10px);
  }
  
  section.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 calc(var(--ifm-spacing-horizontal)*-1);
  }
  
  main .markdown details.alert--info[open] summary { padding-top: 15px; }
  main .markdown details.alert--info[open] summary::before { top: 6px; }
  main .markdown details.alert--info {
    padding-top: 0 !important;
    padding-bottom: 10px !important;
  }

  main .markdown .download-release-notes {
    display: none;
  }

  main .markdown .faqs blockquote {
    display: table !important;
  }

  main .markdown .faqs blockquote::before {
    display: table-cell !important;
    position: relative !important;
    vertical-align: middle !important;
    padding-left: 5px !important;
    line-height: 0 !important;
    top: 10px !important;
    width: 30px !important;
  }

  main .markdown iframe[src*='custom-report-template.html'] {
    display: none !important;
    visibility: hidden;
  }
 
  .emoji-no, .emoji-ok {
    visibility: hidden;
  }

  div[class*=fbsharebutton] {
    display: none !important;
  }

  body noscript {
    display: none;
  }
  
  .emoji-no::after {
    content: "X";
    visibility: visible;
    position: relative;
    padding-left: -28px;
  }
  
  .emoji-ok::after {
    content: "O";
    visibility: visible;
    position: relative;
    padding-left: -28px;
  }
  
  div.video-container{
    display: none;
  }

  #__docusaurus_skipToContent_fallback > div > main > div > div > div.col.docItemCol_src-theme-DocItem-Layout-styles-module > div > article > div.theme-doc-markdown.markdown > ol > li:nth-child(1) > div > div > div:nth-child(2)
  /* PDF 출력 시 Tabs 요소 모두 보이도록 설정 */
  .margin-top--md > div[role='tabpanel'] {
    display: block;
    margin-bottom: 1px solid #757575;
    visibility: visible;
  }
  .markdown .tabs-container {
    display: block;
    visibility: visible;
  }
  .markdown .tabs-container div.margin-top--md {
    display: block;
    visibility: visible;
  }
  .markdown .tabs-container div.margin-top--md div[role='tabpanel'], .markdown > ol > li > div.tabs-container > div.margin-top--md > div[role='tabpanel'] {
    display: block;
    visibility: visible;
  }

  /* 테이블 기본 스타일 */
  .markdown table:not(::before):not(::after),
  main table:not(::before):not(::after) {
    border: 1px solid #d3d3d3 !important;
    border-collapse: collapse !important;
  }

  .markdown table th,
  .markdown table td,
  main table th,
  main table td {
    border: 1px solid #d3d3d3 !important;
    padding: 0.75rem !important;
  }

  .markdown table thead th,
  main table thead th {
    background-color: #f5f7f9 !important;
    font-weight: bold !important;
  }

  .markdown table tbody tr:nth-child(even),
  main table tbody tr:nth-child(even) {
    background-color: #fafafa !important;
  }

  /* Alert 박스 기본 스타일 */
  .alert,
  .theme-admonition,
  [class*="admonition_"] {
    border-radius: 0 !important;
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
    padding: 16px 20px 16px 46px !important;
    margin: 16px 0 !important;
    background-color: #F5F7F9 !important;
    background-repeat: no-repeat !important;
  }
  
  /* 타입별 아이콘 */
  .alert--secondary,
  .theme-admonition-note {
    background-image: url('./src/css/img/alert-note.svg') !important;
    background-position: top 19px left 20px !important;
    border-left: 4px solid #296CF2 !important;
  }
  
  .alert--info,
  .theme-admonition-info {
    background-image: url('./src/css/img/alert-info.svg') !important;
    background-position: top 19px left 20px !important;
    border-left: 4px solid #757575 !important;
  }
  
  .alert--success,
  .theme-admonition-tip {
    background-image: url('./src/css/img/alert-tip.svg') !important;
    background-position: top 20px left 20px !important;
    border-left: 4px solid #00b543 !important;
  }
  
  .alert--warning,
  .theme-admonition-warning {
    background-image: url('./src/css/img/alert-warning.svg') !important;
    background-position: top 19px left 20px !important;
    border-left: 4px solid #ff9900 !important;
  }
  
  .alert--danger,
  .theme-admonition-danger {
    background-image: url('./src/css/img/alert-danger.svg') !important;
    background-position: top 21px left 20px !important;
    border-left: 4px solid #df3737 !important;
  }
  /* 1. PDF 출력시 Back to top 버튼 영역 완전 제거 */
  .theme-back-to-top-button,
  button[class*="theme-back-to-top-button"],
  [class*="backToTopButton"] {
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
    height: 0 !important;
    width: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
  }

  /* 2. 버튼의 가상 요소(::after, ::before)까지 혹시 모르니 박멸 */
  [class*="backToTopButton"]::after,
  [class*="backToTopButton"]::before {
    content: none !important;
    display: none !important;
  }

  /* 3. 버튼을 감싸는 wrapper 영역 초기화 */
  .main-wrapper,
  .docWrapper {
    border: none !important;
    box-shadow: none !important;
  }
}
