{
    "openapi": "3.0.1",
    "info": {
        "title": "WhaTap DEV API Specification UI",
        "description": "Front Service All Endpoint, paths to match : /**",
        "version": "1.90.1"
    },
    "servers": [
        {
            "url": "https://api.whatap.io",
            "description": "Generated server url"
        }
    ],
    "paths": {
        "/open/api/{type}": {
            "get": {
                "tags": [
                    "open-api-controller"
                ],
                "operationId": "yardApiPlain",
                "parameters": [
                    {
                        "name": "type",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "oid",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "okind",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "onode",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json;charset=UTF-8": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "open-api-controller"
                ],
                "operationId": "yardApiPost",
                "parameters": [
                    {
                        "name": "type",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "oid",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json;charset=UTF-8": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/open/api/v2/count/data": {
            "post": {
                "tags": [
                    "open-api-v-2-controller"
                ],
                "operationId": "tagCountData",
                "requestBody": {
                    "content": {
                        "*/*": {
                            "schema": {
                                "$ref": "#/components/schemas/OpenApiV2Params"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/open/api/v2/agent/list": {
            "post": {
                "tags": [
                    "open-api-v-2-controller"
                ],
                "operationId": "agentList",
                "requestBody": {
                    "content": {
                        "*/*": {
                            "schema": {
                                "$ref": "#/components/schemas/OpenApiV2Params"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/open/api/json/tags/{type}": {
            "get": {
                "tags": [
                    "open-api-controller"
                ],
                "operationId": "getProjectTagData",
                "parameters": [
                    {
                        "name": "type",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "oid",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 0
                        }
                    },
                    {
                        "name": "stime",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "default": 0
                        }
                    },
                    {
                        "name": "etime",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "default": 0
                        }
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "all"
                        }
                    },
                    {
                        "name": "timeMerge",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "name": "objectMerge",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "name": "groupTag",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": ""
                        }
                    },
                    {
                        "name": "tagFilter",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": ""
                        }
                    },
                    {
                        "name": "dataType",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 0
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json;charset=UTF-8": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "open-api-controller"
                ],
                "operationId": "postProjectTagData",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/OpenTagMetric"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json;charset=UTF-8": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/open/api/flush/mxql/{type}": {
            "post": {
                "tags": [
                    "open-api-flush-controller"
                ],
                "operationId": "yardMxqlApiText",
                "parameters": [
                    {
                        "name": "type",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/MXQLParam"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/open/api/flush/log/mcube/read": {
            "post": {
                "tags": [
                    "open-api-flush-controller"
                ],
                "operationId": "readLogMCube",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/LogMCubeDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/open/api/flush/log/mcube/build": {
            "post": {
                "tags": [
                    "open-api-flush-controller"
                ],
                "operationId": "buildLogMCube",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/LogMCubeDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/open/api/v2/event/config": {
            "get": {
                "tags": [
                    "open-api-v-2-controller"
                ],
                "operationId": "eventConfig",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/open/api/tag/db_pool_detail/dbconn": {
            "get": {
                "tags": [
                    "open-api-controller"
                ],
                "operationId": "getDbcData",
                "parameters": [
                    {
                        "name": "stime",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "etime",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "timeMerge",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": ""
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json;charset=UTF-8": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/open/api/report/{type}": {
            "get": {
                "tags": [
                    "open-api-controller"
                ],
                "operationId": "yardExportApi_1",
                "parameters": [
                    {
                        "name": "type",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json;charset=UTF-8": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/open/api/raw/tag/{category}/{field}": {
            "get": {
                "tags": [
                    "open-api-controller"
                ],
                "operationId": "getProjectAllMergeTagData",
                "parameters": [
                    {
                        "name": "category",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "field",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "oid",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 0
                        }
                    },
                    {
                        "name": "stime",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "etime",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "timeMerge",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": ""
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/open/api/project/license/{pcode}": {
            "get": {
                "tags": [
                    "open-api-controller"
                ],
                "operationId": "getProjectLicense",
                "parameters": [
                    {
                        "name": "pcode",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json;charset=UTF-8": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/open/api/json/{type}": {
            "get": {
                "tags": [
                    "open-api-controller"
                ],
                "operationId": "yardApiJson",
                "parameters": [
                    {
                        "name": "type",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "oid",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "okind",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "onode",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json;charset=UTF-8": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/open/api/json/{type}/{stime}/{etime}": {
            "get": {
                "tags": [
                    "open-api-controller"
                ],
                "operationId": "yardApiJson_1",
                "parameters": [
                    {
                        "name": "type",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "stime",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "etime",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json;charset=UTF-8": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/open/api/json/{type}/{stime}/{etime}/{oids}": {
            "get": {
                "tags": [
                    "open-api-controller"
                ],
                "operationId": "yardApiJson_2",
                "parameters": [
                    {
                        "name": "type",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "stime",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "etime",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "oids",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json;charset=UTF-8": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/open/api/json/{type}/{stime}/{etime}/{oids}/filter/{filterkey}/{filterval}": {
            "get": {
                "tags": [
                    "open-api-controller"
                ],
                "operationId": "yardApiJson_3",
                "parameters": [
                    {
                        "name": "type",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "stime",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "etime",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "oids",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "filterkey",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "filterval",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json;charset=UTF-8": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/open/api/json/{type}/{stime}/{etime}/filter/{filterkey}/{filterval}/{filterkey2}/{filterval2}": {
            "get": {
                "tags": [
                    "open-api-controller"
                ],
                "operationId": "yardApiJson_4",
                "parameters": [
                    {
                        "name": "type",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "stime",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "etime",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "filterkey",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "filterval",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "filterkey2",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "filterval2",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json;charset=UTF-8": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/open/api/json/{type}/{stime}/{etime}/filter/{filterkey}/{filterval}": {
            "get": {
                "tags": [
                    "open-api-controller"
                ],
                "operationId": "yardApiJson_5",
                "parameters": [
                    {
                        "name": "type",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "stime",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "etime",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "filterkey",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "filterval",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json;charset=UTF-8": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/open/api/json/{type}/{stime}/{etime}/avg": {
            "get": {
                "tags": [
                    "open-api-controller"
                ],
                "operationId": "yardApiJsonAvg",
                "parameters": [
                    {
                        "name": "type",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "stime",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "etime",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json;charset=UTF-8": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/open/api/json/{type}/{stime}/{etime}/avg/{oids}": {
            "get": {
                "tags": [
                    "open-api-controller"
                ],
                "operationId": "yardApiJsonAvg_1",
                "parameters": [
                    {
                        "name": "type",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "stime",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "etime",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "oids",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json;charset=UTF-8": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/open/api/json/stat/{type}": {
            "get": {
                "tags": [
                    "open-api-controller"
                ],
                "operationId": "getProjectAgentsStat",
                "parameters": [
                    {
                        "name": "option",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/SeriesOption"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json;charset=UTF-8": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/open/api/json/sa/projects": {
            "get": {
                "tags": [
                    "open-api-controller"
                ],
                "operationId": "getProjectsAll",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/open/api/json/projects": {
            "get": {
                "tags": [
                    "open-api-controller"
                ],
                "operationId": "getProjects_1",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/open/api/json/project": {
            "get": {
                "tags": [
                    "open-api-controller"
                ],
                "operationId": "getProject",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json;charset=UTF-8": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/open/api/json/project/{pcode}/members": {
            "get": {
                "tags": [
                    "open-api-controller"
                ],
                "operationId": "getProjectMembers",
                "parameters": [
                    {
                        "name": "pcode",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/open/api/json/project/agents": {
            "get": {
                "tags": [
                    "open-api-controller"
                ],
                "operationId": "getProjectAgents",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json;charset=UTF-8": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/open/api/json/okinds/{type}": {
            "get": {
                "tags": [
                    "open-api-controller"
                ],
                "operationId": "getProjectOkindsData",
                "parameters": [
                    {
                        "name": "option",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/SeriesOption"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json;charset=UTF-8": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/open/api/json/oids/{type}": {
            "get": {
                "tags": [
                    "open-api-controller"
                ],
                "operationId": "getProjectOidsData",
                "parameters": [
                    {
                        "name": "option",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/SeriesOption"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json;charset=UTF-8": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/open/api/json/groups": {
            "get": {
                "tags": [
                    "open-api-controller"
                ],
                "operationId": "getGroups",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/open/api/json/group/{groupId}/projects": {
            "get": {
                "tags": [
                    "open-api-controller"
                ],
                "operationId": "getGroupProjects",
                "parameters": [
                    {
                        "name": "groupId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/open/api/json/group/{groupId}/members": {
            "get": {
                "tags": [
                    "open-api-controller"
                ],
                "operationId": "getProjectMembers_1",
                "parameters": [
                    {
                        "name": "groupId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/open/api/json/events/{type}": {
            "get": {
                "tags": [
                    "open-api-controller"
                ],
                "operationId": "getProjectEventData",
                "parameters": [
                    {
                        "name": "type",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "oid",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 0
                        }
                    },
                    {
                        "name": "stime",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "default": 0
                        }
                    },
                    {
                        "name": "etime",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "default": 0
                        }
                    },
                    {
                        "name": "level",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "byte",
                            "default": "MA=="
                        }
                    },
                    {
                        "name": "filter_val",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": ""
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json;charset=UTF-8": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/open/api/json/agents/{type}": {
            "get": {
                "tags": [
                    "open-api-controller"
                ],
                "operationId": "getProjectAgentsData",
                "parameters": [
                    {
                        "name": "option",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/SeriesOption"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json;charset=UTF-8": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/open/api/flush/{type}": {
            "get": {
                "tags": [
                    "open-api-flush-controller"
                ],
                "operationId": "yardApiJson_6",
                "parameters": [
                    {
                        "name": "type",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/open/api/flush/{type}/{stime}/{etime}": {
            "get": {
                "tags": [
                    "open-api-flush-controller"
                ],
                "operationId": "yardApiJson_7",
                "parameters": [
                    {
                        "name": "type",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "stime",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "etime",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/open/api/flush/{type}/{stime}/{etime}/{oids}": {
            "get": {
                "tags": [
                    "open-api-flush-controller"
                ],
                "operationId": "yardApiJson_8",
                "parameters": [
                    {
                        "name": "type",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "stime",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "etime",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "oids",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/open/api/flush/{type}/{stime}/{etime}/{oids}/filter/{filterkey}/{filterval}": {
            "get": {
                "tags": [
                    "open-api-flush-controller"
                ],
                "operationId": "yardApiJson_9",
                "parameters": [
                    {
                        "name": "type",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "stime",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "etime",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "oids",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "filterkey",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "filterval",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/open/api/flush/{type}/{stime}/{etime}/filter/{filterkey}/{filterval}": {
            "get": {
                "tags": [
                    "open-api-flush-controller"
                ],
                "operationId": "yardApiJson_10",
                "parameters": [
                    {
                        "name": "type",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "stime",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "etime",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "filterkey",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "filterval",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/open/api/flush/{type}/{stime}/{etime}/avg": {
            "get": {
                "tags": [
                    "open-api-flush-controller"
                ],
                "operationId": "yardApiJsonAvg_2",
                "parameters": [
                    {
                        "name": "type",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "stime",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "etime",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/open/api/flush/{type}/{stime}/{etime}/avg/{oids}": {
            "get": {
                "tags": [
                    "open-api-flush-controller"
                ],
                "operationId": "yardApiJsonAvg_3",
                "parameters": [
                    {
                        "name": "type",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "stime",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "etime",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "oids",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/open/api/flush/report/{type}": {
            "get": {
                "tags": [
                    "open-api-flush-controller"
                ],
                "operationId": "yardExportApi_2",
                "parameters": [
                    {
                        "name": "type",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/open/api/flush/export/{type}": {
            "get": {
                "tags": [
                    "open-api-flush-controller"
                ],
                "operationId": "yardExportApi_3",
                "parameters": [
                    {
                        "name": "type",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "stime",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "etime",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "oid",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "0"
                        }
                    },
                    {
                        "name": "hash",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/open/api/export/{type}": {
            "get": {
                "tags": [
                    "open-api-controller"
                ],
                "operationId": "yardExportApi_4",
                "parameters": [
                    {
                        "name": "type",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "stime",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "etime",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "oid",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "0"
                        }
                    },
                    {
                        "name": "hash",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json;charset=UTF-8": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/noti/api/project/{pcode}/receiver/list": {
            "get": {
                "tags": [
                    "noti-hub-api-controller"
                ],
                "operationId": "projectAlertReceiverList",
                "parameters": [
                    {
                        "name": "pcode",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json;charset=UTF-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/RestResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/noti/api/pcode/{pcode}/infra/summary": {
            "get": {
                "tags": [
                    "noti-hub-api-controller"
                ],
                "operationId": "getProjectEventSummary",
                "parameters": [
                    {
                        "name": "pcode",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "stime",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "default": 0
                        }
                    },
                    {
                        "name": "etime",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "default": 0
                        }
                    },
                    {
                        "name": "count",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 5
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json;charset=UTF-8": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/noti/api/alert/history/{historyId}": {
            "get": {
                "tags": [
                    "noti-hub-api-controller"
                ],
                "operationId": "getAlertistory_1",
                "parameters": [
                    {
                        "name": "historyId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "pcode",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json;charset=UTF-8": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/ml/api/abnormal/list": {
            "get": {
                "tags": [
                    "crane-api-controller"
                ],
                "operationId": "getList",
                "parameters": [
                    {
                        "name": "pcode",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json;charset=UTF-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/RestResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/ml/api/abnormal/detail": {
            "get": {
                "tags": [
                    "crane-api-controller"
                ],
                "operationId": "getDetail",
                "parameters": [
                    {
                        "name": "pcode",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json;charset=UTF-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/RestResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/metering/api/{pcode}/{year}/{month}": {
            "get": {
                "tags": [
                    "metering-api-controller"
                ],
                "operationId": "meteringDataByProject",
                "parameters": [
                    {
                        "name": "pcode",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "year",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "month",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json;charset=UTF-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/RestResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/metering/api/account/{accountId}/{year}/{month}": {
            "get": {
                "tags": [
                    "metering-api-controller"
                ],
                "operationId": "meteringDataByAccount",
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "year",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "month",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json;charset=UTF-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/RestResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/management/api/v4/project/{pcode}/alert": {
            "get": {
                "tags": [
                    "noti-hub-api-controller"
                ],
                "operationId": "getProjectAlertV4",
                "parameters": [
                    {
                        "name": "pcode",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json;charset=UTF-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProjectAlertSetting"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/management/api/v4/organization/{orgUuid}/role": {
            "get": {
                "tags": [
                    "v-4-organization-api-controller"
                ],
                "operationId": "getOrganizationRole",
                "parameters": [
                    {
                        "name": "orgUuid",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json;charset=UTF-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/RestResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/management/api/v4/organization/{orgUuid}/members": {
            "get": {
                "tags": [
                    "v-4-organization-api-controller"
                ],
                "operationId": "getOrganizationMemberList",
                "parameters": [
                    {
                        "name": "orgUuid",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json;charset=UTF-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/RestResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/management/api/v4/organization/{orgUuid}/members/sum": {
            "get": {
                "tags": [
                    "v-4-organization-api-controller"
                ],
                "operationId": "getMergedOrganizationMembers",
                "parameters": [
                    {
                        "name": "orgUuid",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json;charset=UTF-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/RestResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/management/api/v4/organization/{orgUuid}/member/role": {
            "get": {
                "tags": [
                    "v-4-organization-api-controller"
                ],
                "operationId": "getOrganizationRole_1",
                "parameters": [
                    {
                        "name": "orgUuid",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "account",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json;charset=UTF-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/RestResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/management/api/v4/organization/{orgUuid}/member/groups/role": {
            "get": {
                "tags": [
                    "v-4-organization-api-controller"
                ],
                "operationId": "getOrganizationGroupListAndRoleByAccountId",
                "parameters": [
                    {
                        "name": "orgUuid",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "account",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json;charset=UTF-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/RestResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/management/api/v4/organization/{orgUuid}/dashboard/{dataKey}": {
            "get": {
                "tags": [
                    "v-4-organization-api-controller"
                ],
                "operationId": "getAccountDashboardData_1",
                "parameters": [
                    {
                        "name": "orgUuid",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "dataKey",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json;charset=UTF-8": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/management/api/v4/organization/{orgUuid}/dashboard/{dataKey}/meta": {
            "get": {
                "tags": [
                    "v-4-organization-api-controller"
                ],
                "operationId": "getAccountDashboardDataWithMeta",
                "parameters": [
                    {
                        "name": "orgUuid",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "dataKey",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json;charset=UTF-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/DashBoardWithMeta"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/management/api/v4/organization/{orgUuid}/dashboard/list/{version}": {
            "get": {
                "tags": [
                    "v-4-organization-api-controller"
                ],
                "operationId": "getOrganizationDashboardListWithVersion",
                "parameters": [
                    {
                        "name": "orgUuid",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "version",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json;charset=UTF-8": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/DashBoardDTO"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/management/api/v4/organization/list": {
            "get": {
                "tags": [
                    "v-4-organization-api-controller"
                ],
                "operationId": "getOrganizationList",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json;charset=UTF-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/RestResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/management/api/v4/organization/detail/{orgUuid}": {
            "get": {
                "tags": [
                    "v-4-organization-api-controller"
                ],
                "operationId": "getOrganizationList_1",
                "parameters": [
                    {
                        "name": "orgUuid",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json;charset=UTF-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/RestResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/management/api/v4/member/group/{grpUuid}": {
            "get": {
                "tags": [
                    "member-group-api-controller"
                ],
                "operationId": "getAccountGroup",
                "parameters": [
                    {
                        "name": "grpUuid",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json;charset=UTF-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/RestResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/management/api/v4/member/group/layer/{uuid}": {
            "get": {
                "tags": [
                    "member-group-api-controller"
                ],
                "operationId": "getAccountGroupByLayer",
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json;charset=UTF-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/RestResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/management/api/v4/group/{groupUuid}/role": {
            "get": {
                "tags": [
                    "v-4-group-api-controller"
                ],
                "operationId": "getGroupRole",
                "parameters": [
                    {
                        "name": "groupUuid",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json;charset=UTF-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/RestResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/management/api/v4/group/{groupUuid}/projects": {
            "get": {
                "tags": [
                    "v-4-group-api-controller"
                ],
                "operationId": "getGroupProjectByAccount",
                "parameters": [
                    {
                        "name": "groupUuid",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json;charset=UTF-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/RestResponse_User"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/management/api/v4/group/{groupUuid}/members": {
            "get": {
                "tags": [
                    "v-4-group-api-controller"
                ],
                "operationId": "getGroupMemberList",
                "parameters": [
                    {
                        "name": "groupUuid",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json;charset=UTF-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/RestResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/management/api/v4/group/{groupUuid}/members/sum": {
            "get": {
                "tags": [
                    "v-4-group-api-controller"
                ],
                "operationId": "getMergedGroupMembers",
                "parameters": [
                    {
                        "name": "groupUuid",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json;charset=UTF-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/RestResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/management/api/v4/group/{groupUuid}/member/role": {
            "get": {
                "tags": [
                    "v-4-group-api-controller"
                ],
                "operationId": "getGroupRole_1",
                "parameters": [
                    {
                        "name": "groupUuid",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "account",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json;charset=UTF-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/RestResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/management/api/v4/group/{groupUuid}/member/projects/role": {
            "get": {
                "tags": [
                    "v-4-group-api-controller"
                ],
                "operationId": "getGroupProjectListAndRoleByAccountId",
                "parameters": [
                    {
                        "name": "groupUuid",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "account",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json;charset=UTF-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/RestResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/management/api/v4/group/list": {
            "get": {
                "tags": [
                    "v-4-group-api-controller"
                ],
                "operationId": "getAccountGroupList_1",
                "parameters": [
                    {
                        "name": "parent",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": ""
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json;charset=UTF-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/RestResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/management/api/v2/siteConf": {
            "get": {
                "tags": [
                    "management-api-v-2-controller"
                ],
                "operationId": "getSiteConf",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json;charset=UTF-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/RestResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/management/api/v2/project/{pcode}/sa/usage": {
            "get": {
                "tags": [
                    "management-api-v-2-controller"
                ],
                "operationId": "projectUsage_1",
                "parameters": [
                    {
                        "name": "pcode",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "freeOnly",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json;charset=UTF-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/TotalUsage"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/management/api/v2/pcode/{pcode}/smsblck/status": {
            "get": {
                "tags": [
                    "noti-hub-api-controller"
                ],
                "operationId": "getProjectSMSBlockStatus",
                "parameters": [
                    {
                        "name": "pcode",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json;charset=UTF-8": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/management/api/v2/pcode/{pcode}/notice": {
            "get": {
                "tags": [
                    "management-api-v-2-controller"
                ],
                "operationId": "getNotice",
                "parameters": [
                    {
                        "name": "pcode",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json;charset=UTF-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/RestResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/management/api/v2/pcode/{pcode}/maintenance": {
[...]
