@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Coptic&family=Noto+Sans+JP:wght@100..900&family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Oleo+Script:wght@400;700&display=swap');

html[lang='ko-KR'] * {
  word-wrap: keep-all;
  font-family: 'Noto Sans', 'Noto Sans KR', sans-serif, 'Apple SD Gothic Neo' !important;
}

html[lang='en-US'] * {
  word-wrap: keep-all;
  font-family: 'Noto Sans', sans-serif, 'Apple SD Gothic Neo' !important;
}

html[lang='ja-JP'] * {
  word-wrap: break-word;
  word-break: inherit;
  font-family: 'Noto Sans JP', 'Noto Sans', sans-serif, 'Apple SD Gothic Neo' !important;
}