.dlmain {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.contents {
  max-width: 80%;
  flex: 1 0;
}
.dltocs {
  width: 20%;
  flex: 0 0;
  padding-top: 30px;
  padding-left: 60px;
}
.dltocItem {
  position: fixed;
  top: 96px;
  border-left: 1px solid #eee;
}
.tocList {
  list-style: none;
  font-size: .9rem;
  line-height: 200%;
}
.dlHeading1 {
  margin-top: 30px;
}
.lastdiv {
  height: 50px;
}

@media (max-width: 995px) {
  .dltocs {
    display: none;
  }
  .contents {
    max-width: 100%;
  }
}