openapi: 3.0.0
info:
  title: WhaTap Open API
  description: >
    ## Open API


    To extract the monitoring data being collected and use it separately, the

    function to extract data is provided through Open API. You can obtain the

    collected data by passing the account API token, project API token, and

    project code as parameters.


    For older versions of Open API documentation, see [the
    following](openapi-old).


    ## Checking the open API token


    Tokens are divided into account API tokens and project API tokens. The

    account API token is used to acquire the project list, and the project API

    token is used to acquire project monitoring data.


    You can check the project code through the data displayed like "`[{project

    code}]` Cloud Application Monitoring" in the window or tab title at the top

    of the browser screen when entering the project. To change the API token,

    select ***Reissue*** or ***Reissue Token*** on each screen.


    <div class="api-guide">


    | Type | Key | Set value | Remarks |

    | -- | -- | -- | -- |

    | Header | `x-whatap-token` | API token | Account API Token |

    | Header | `x-whatap-token` | API token | Project API Token |

    | Header | `x-whatap-pcode` | Project code | Check in the window or browser
    tab title |


    </div>


    ### Checking the account token


    1. Select the profile icon on the upper right of the screen.


    1. If a pop-up menu appears, select ***Manage Accounts***.


    1. Scroll down the screen, go to the ***Api token*** section.


    ### Checking the project token.


    1. Select a project in the Home screen. 


    1. After entering the project, select ***Management*** &gt; ***Project

    Management*** on the left.


    1. Check the ***Api token***.
servers:
  - url: https://api.whatap.io
tags:
  - name: APM spot information API
    description: |
      It provides a list of APIs that allow you to view the agent information
      and related metrics for application monitoring projects.
  - name: APM viewing the statistical data
    description: |
      It provides a list of APIs that allow you to view the statistical data for
      application monitoring projects.
  - name: Server spot information API
    description: |
      It provides a list of APIs that allow you to view the agent information
      and related metrics for server monitoring projects.
  - name: Server Viewing the statistical data
    description: |
      It provides a list of APIs that allow you to view the statistical data for
      server monitoring projects.
  - name: Database viewing the parameter
    description: You can view the parameters in the database.
  - name: Database viewing SQL
    description: You can view the SQLs in the database.
  - name: Calling the MXQL open API
  - name: MXQL open API usage guide
    description: >
      You can use MXQL as follows.


      * How to write MXQL queries to retrieve data


      * As in [the following](../mxql/mxql-guide#custom-query-saas), the method
      how to retrieve data by the **predefined MXQL query list provided by the
      SaaS service**


      Therefore, the API path used in each case differs. 


      <div class="api-guide">


      | How to use MXQL | API |

      | -- | -- |

      | In case of writing the MXQL queries | [MXQL text
      API](#tag/Calling-the-MXQL-open-API/paths/~1open~1api~1flush~1mxql~1text/post)
      |

      | In case of using the **predefined MXQL query list provided by the SaaS
      service** (see [the following](../mxql/mxql-guide#custom-query-saas)) |
      [MXQL path
      API](#tag/Calling-the-MXQL-open-API/paths/~1open~1api~1flush~1mxql~1path/post)
      |


      </div>


      The content included in the header upon open API call is as follows:


      <div class="api-guide">


      | Type | Key  | Set value | Remarks |

      | ---- | --- | ------- | ---- |

      | Header | x-whatap-token | API Token `{{PROJECT API TOKEN}}` | Project
      API Token: Select Project &gt; ***Management*** &gt; ***Project
      Managemen*** &gt; ***Api token*** |

      | Header | x-whatap-pcode | Project code `{{projectCode}}` | Project code:
      Select Project &gt; ***Management*** &gt; ***Project Managemen*** &gt;
      ***pcode*** |


      </div>


      **Constraints of the MXQL open API**


      You can search up to 31 days in a single request.
x-tagGroups:
  - name: Viewing the meta information
    tags:
      - Project
      - Group
      - Agent
      - Event
  - name: Application
    tags:
      - APM spot information API
      - APM viewing the statistical data
  - name: Server
    tags:
      - Server spot information API
      - Server viewing the statistical data
  - name: Database
    tags:
      - Database viewing the parameter
      - Database viewing SQL
  - name: MXQL Open API
    tags:
      - MXQL open API usage guide
      - Calling the MXQL open API
paths:
  /open/api/json/projects:
    get:
      summary: Viewing the project list
      operationId: getProjectsList
      description: This API provides the list of projects.
      tags:
        - Project
      parameters:
        - $ref: '#/components/parameters/WhatapAccoutTokenHeader'
      responses:
        '200':
          description: Query success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        groupName:
                          type: string
                          description: Name of the project's upper group
                        projectCode:
                          type: integer
                          description: pcode
                        projectName:
                          type: string
                          description: Project name
                        createTime:
                          type: string
                          format: date-time
                          description: Project creation date
                        lastUpdatedTime:
                          type: string
                          format: date-time
                          description: Project modification date
                        status:
                          type: string
                          description: Project status
                          enum:
                            - pending
                            - trial
                            - subscribe
                            - close_pending
                            - limited
                            - closed
                            - trial_limited
                        productType:
                          type: string
                          description: Server Type
                        platform:
                          type: string
                          description: Server Platform
                        gatewayName:
                          type: string
                          description: Data Server Region
                        apiToken:
                          type: string
                          description: Project API token
                  accountEmail:
                    type: string
                    description: Email address of the user account
                  total:
                    type: integer
                    description: Project count
                example:
                  data:
                    - projectCode: 35
                      projectName: APM_TEST2
                      createTime: '2018-10-19T07:17:03.774'
                      status: subscribe
                      productType: APM
                      platform: JAVA
                      apiToken: 5**********************R
                  accountEmail: xxx@whatap.io
                  total: 6
      x-codeSamples:
        - lang: curl
          source: |
            curl -L \
              -w "\n" \
              -H "x-whatap-token: {{ACCOUNT_API_TOKEN}}" \
              "https://api.whatap.io/open/api/json/projects"
  /open/api/json/project:
    get:
      summary: Viewing the project information
      description: This API provides the projects for applications and servers.
      operationId: getProjectInfo
      tags:
        - Project
      parameters:
        - $ref: '#/components/parameters/WhatapTokenHeader'
        - $ref: '#/components/parameters/WhatapPcodeHeader'
      responses:
        '200':
          description: Query success
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/APM'
                  - $ref: '#/components/schemas/Server'
              examples:
                apm:
                  summary: Application
                  value:
                    platform: JAVA
                    createTime: Tue Sep 18 08:34:27 GMT 2018
                    gatewayName: Office-OTE
                    projectCode: 1234
                    status: Subscribe
                    lastUpdatedTime: Tue Sep 18 08:34:34 GMT 2018
                    name: SEO_APM
                    productType: APM
                server:
                  summary: Server
                  value:
                    pname: LOCAL_PC
                    timezone: 9
                    regionName: LOCAL
                    values:
                      servers:
                        - public_ip: 192.168.1.0
                          os_cpuvendor: Intel(R) Core(TM) i7-8550U CPU 1.80GHz
                          agent_created: '2018-11-18T07:17:31.216Z'
                          ip: 192.168.1.0
                          os_arch: amd64
                          actTime: 1572406264112
                          cpu_cores: '8'
                          oid: -1030311093
                          isActive: true
                          okind: ''
                          version: 1.2.4
                          tags:
                            - network:169.254.0.0/16
                            - network:192.168.1.0/24
                            - java
                            - OpenVpn
                            - oracle
                            - ftp
                          inactTime: 0
                          oname: DESKTOP-KEIPLT5
                          os_name: windows
                          startTime: '2018-11-18T07:17:43.602Z'
                          os_memory: '17036419072'
                          os_status: warning
      x-codeSamples:
        - lang: curl
          source: |
            curl -L \
            -w "\n" \
            -H "x-whatap-token: {{PROJECT_API_TOKEN}}" \
            -H "x-whatap-pcode: {{projectCode}}" \
            "https://api.whatap.io/open/api/json/project"
  /open/json/agents:
    get:
      summary: Viewing the agent status and host IP
      description: |
        This API provides the status and IP addresses of the agents in the
        project.
      operationId: getAgentInfo
      tags:
        - Agent
      parameters:
        - $ref: '#/components/parameters/WhatapTokenHeader'
        - $ref: '#/components/parameters/WhatapPcodeHeader'
      responses:
        '200':
          description: Query success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        host_ip:
                          type: string
                          format: ipv4
                          description: IP Address
                        oname:
                          type: string
                          description: Agent name
                        active:
                          type: boolean
                          description: Agent Activation Status
              example:
                data:
                  - host_ip: 127.0.0.1
                    oname: TC-29-96-8082
                    active: true
      x-codeSamples:
        - lang: curl
          source: |
            curl -L \
            -w "\n" \
            -H "x-whatap-token: {{PROJECT_API_TOKEN}}" \
            -H "x-whatap-pcode: {{projectCode}}" \
            "https://api.whatap.io/open/json/agents"
  /open/api/json/project/{projectCode}/members:
    get:
      summary: Viewing the project member list
      description: This API provides the list of members in the project.
      operationId: getProjectMemberList
      tags:
        - Project
      parameters:
        - $ref: '#/components/parameters/WhatapAccoutTokenHeader'
        - $ref: '#/components/parameters/ProjectCodePath'
      responses:
        '200':
          description: Query success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        email:
                          type: string
                          description: Email address of the user account
                        name:
                          type: string
                          description: User Name
                        desc:
                          type: string
                          description: User account description
                        sms:
                          type: string
                          description: User Phone
                  total:
                    type: integer
                    description: Project member count
              example:
                data:
                  - email: honggildong@whatap.io
                    name: Hong
                    desc: ''
                    sms: 010XXXXXXX
                total: 8
      x-codeSamples:
        - lang: curl
          source: |
            curl -L \
              -w "\n" \
              -H "x-whatap-token: {{ACCOUNT_API_TOKEN}}" \
              "https://api.whatap.io/open/api/json/project/{projectCode}/members"
  /open/api/json/groups:
    get:
      summary: Viewing the group list
      description: This API provides a list of groups to which the user belongs.
      operationId: getGroupList
      tags:
        - Group
      parameters:
        - $ref: '#/components/parameters/WhatapAccoutTokenHeader'
      responses:
        '200':
          description: Query success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        groupName:
                          type: string
                          description: Group name
                        groupKey:
                          type: string
                          description: Group's unique identifier (ID)
                        description:
                          type: string
                          description: Group description
                  total:
                    type: integer
                    description: Group Count
              example:
                data:
                  - groupName: WHATAP APM
                    groupKey: grp****ab123kskd*****q
                    description: APM Group
                total: 3
      x-codeSamples:
        - lang: curl
          source: |
            curl -L \
              -w "\n" \
              -H "x-whatap-token: {{ACCOUNT_API_TOKEN}}" \
              "https://api.whatap.io/open/api/v2/json/groups"
  /open/api/json/group/{groupKey}/members:
    get:
      summary: Viewing the group member list
      description: |
        This API provides a list of members in the group to which the user
        belongs.
      operationId: getGroupMemberList
      tags:
        - Group
      parameters:
        - $ref: '#/components/parameters/WhatapAccoutTokenHeader'
        - $ref: '#/components/parameters/GroupKeyPath'
      responses:
        '200':
          description: Query success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        email:
                          type: string
                          description: Email address of the user account
                        name:
                          type: string
                          description: User Name
                        desc:
                          type: string
                          description: User account description
                        sms:
                          type: string
                          description: User Phone
                  total:
                    type: integer
                    description: Group Member Count
              example:
                data:
                  - email: honggildong@whatap.io
                    name: Hong
                    desc: ''
                    sms: 010XXXXXXX
                total: 8
      x-codeSamples:
        - lang: curl
          source: |
            curl -L \
              -w "\n" \
              -H "x-whatap-token: {{ACCOUNT_API_TOKEN}}" \
              "https://api.whatap.io/open/api/json/group/{groupKey}/members"
  /open/api/json/group/{groupKey}/projects:
    get:
      summary: Viewing the project in the group
      description: This API views meta information of the projects in the group.
      operationId: getGroupProjectList
      tags:
        - Group
      parameters:
        - $ref: '#/components/parameters/WhatapAccoutTokenHeader'
        - $ref: '#/components/parameters/GroupKeyPath'
      responses:
        '200':
          description: Query success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        projectCode:
                          type: integer
                          description: pcode
                        name:
                          type: string
                          description: Project name
                        status:
                          type: string
                          description: Project status
                          enum:
                            - pending
                            - trial
                            - subscribe
                            - close_pending
                            - limited
                            - closed
                            - trial_limited
                        productType:
                          type: string
                          description: Product Type of Project
                        platform:
                          type: string
                          description: Product Platform of Project
                        gatewayName:
                          type: string
                          description: Data Server Region
              example:
                data:
                  - projectCode: 35
                    name: APM_TEST2
                    status: Subscribe
                    productType: APM
                    platform: JAVA
                    gatewayName: LOCAL
      x-codeSamples:
        - lang: curl
          source: |
            curl -L \
              -w "\n" \
              -H "x-whatap-token: {{ACCOUNT_API_TOKEN}}" \
              "https://api.whatap.io/open/api/json/group/{groupKey}/projects"
  /open/api/json/event/v2/settings:
    get:
      summary: Get event settings
      description: >-
        Retrieves the same data as [JSON Bulk Download] in the Event Settings
        (New) menu.
      tags:
        - Event
      parameters:
        - $ref: '#/components/parameters/WhatapTokenHeader'
        - $ref: '#/components/parameters/WhatapPcodeHeader'
      responses:
        '200':
          description: Retrieval succeeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  productType:
                    type: string
                    description: Project product type
                  platform:
                    type: string
                    description: Project product platform
                  events:
                    type: object
                    description: Settings list by event type
                    properties:
                      BASIC:
                        type: array
                        description: |
                          Event Settings [New] – Basic events
                        items:
                          type: object
                          properties:
                            criticalEnabled:
                              type: boolean
                              description: >-
                                Whether to use Critical-level alerts (used when
                                version == 1)
                            warningEnabled:
                              type: boolean
                              description: >-
                                Whether to use Warning-level alerts (used when
                                version == 1)
                            silentPeriod:
                              type: integer
                              description: Mute duration
                            metaId:
                              type: string
                              description: Template unique identifier
                            displayName:
                              type: string
                              description: User-defined event title
                            criticalThreshold:
                              type: string
                              description: >-
                                Critical-level trigger condition (used when
                                version == 1)
                            warningThreshold:
                              type: string
                              description: >-
                                Warning-level trigger condition (used when
                                version == 1)
                            message:
                              type: string
                              description: User-defined event message
                            version:
                              type: integer
                              description: Version of the event setting
                            enabled:
                              type: boolean
                              description: Whether the event rule is enabled
                            repeatDuration:
                              type: long
                              description: Time window for counting repeats
                            id:
                              type: string
                              description: Event rule unique identifier
                            conditions:
                              type: array
                              description: >-
                                Per-level trigger conditions (used when version
                                ≥ 2)
                            selectCondition:
                              type: object
                              description: >-
                                Target filter condition (stored as key=[value1,
                                value2])
                            stateful:
                              type: boolean
                              description: Whether to use state-based events
                            repeatCount:
                              type: integer
                              description: Repeat count
                      METRICS:
                        type: array
                        description: |
                          Metrics events
                        items:
                          type: object
                          properties:
                            eventMessage:
                              type: string
                              description: User-defined event message
                            select:
                              type: string
                              description: Target filter condition
                            alertLabel:
                              type: array
                              description: PK for event state management
                              items:
                                type: string
                            rule:
                              type: string
                              description: Trigger rule (used when version == 0)
                            silentSec:
                              type: integer
                              description: Mute duration (seconds)
                            version:
                              type: integer
                              description: Version of the event setting
                            enabled:
                              type: boolean
                              description: Whether the event rule is enabled
                            eventTitle:
                              type: string
                              description: User-defined event title
                            repeatDuration:
                              type: long
                              description: Time window for counting repeats
                            eventLevel:
                              type: integer
                              description: Event level (used when version == 0)
                            id:
                              type: string
                              description: Event rule unique identifier
                            category:
                              type: string
                              description: Data collection category
                            conditions:
                              type: array
                              description: >-
                                Per-level trigger conditions (used when version
                                ≥ 1)
                            stateful:
                              type: boolean
                              description: Whether to use state-based events
                            repeatCount:
                              type: integer
                              description: Repeat count
                      COMPOSITE_METRICS:
                        type: array
                        description: |
                          Composite metrics events
                        items:
                          type: object
                          properties:
                            interval_sec:
                              type: integer
                              description: Query execution interval
                            query:
                              type: string
                              description: MXQL query
                            rule:
                              type: string
                              description: Trigger rule
                            event_title:
                              type: string
                              description: User-defined event title
                            enabled:
                              type: boolean
                              description: Whether the event rule is enabled
                            silent_sec:
                              type: integer
                              description: Mute duration (seconds)
                            event_level:
                              type: integer
                              description: Event level
                            id:
                              type: string
                              description: Event rule unique identifier
                            time_trim:
                              type: integer
                              description: Time-unit trim interval for query execution (ms)
                            event_message:
                              type: string
                              description: User-defined event message
                            time_period:
                              type: long
                              description: Data lookback range
                            stateful:
                              type: boolean
                              description: Whether to use state-based events
                            desc:
                              type: string
                              description: Meta information
                      LOG_REALTIME:
                        type: array
                        description: |
                          Real-time log events
                        items:
                          type: object
                          properties:
                            skiptime:
                              type: long
                              description: Mute duration
                            field:
                              type: string
                              description: Search key
                            event_level:
                              type: integer
                              description: Event level
                            event_title:
                              type: string
                              description: User-defined event title
                            tag_select_rule:
                              type: string
                              description: Target filter condition
                            id:
                              type: string
                              description: Event rule unique identifier
                            event_message:
                              type: string
                              description: User-defined event message
                            category:
                              type: string
                              description: Log category
                            keyword:
                              type: string
                              description: Search value
                            enabled:
                              type: boolean
                              description: Whether the event rule is enabled
                      COMPOSITE_LOG:
                        type: array
                        description: |
                          Composite log events
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: Event rule unique identifier
                            enabled:
                              type: boolean
                              description: Whether the event rule is enabled
                            query:
                              type: string
                              description: Saved log path
                            query_inject:
                              type: object
                              nullable: true
                              description: null
                            query_param:
                              type: object
                              description: Detailed query conditions
                              properties:
                                $category:
                                  type: string
                                  description: Log category
                                $filter_excludes:
                                  type: string
                                  description: >-
                                    Exclude/include flag (`true` exclude,
                                    `false` include)
                                $filter_keys:
                                  type: string
                                  description: Search key
                                $filter_values:
                                  type: string
                                  description: Search value
                                $group_keys:
                                  type: string
                                  description: Grouping key (fixed to pcode)
                                $group_time_unit:
                                  type: string
                                  description: Time grouping range (fixed to 1d)
                            time_period:
                              type: long
                              description: Data lookback range
                            rule:
                              type: string
                              description: Trigger condition
                            interval_sec:
                              type: integer
                              description: Query execution interval
                            silent_sec:
                              type: integer
                              description: Mute duration (seconds)
                            event_level_text:
                              type: string
                              description: Event level
                            event_title:
                              type: string
                              description: User-defined event title
                            event_message:
                              type: string
                              description: User-defined event message
                            stateful:
                              type: boolean
                              description: Whether to use state-based events
                            desc:
                              type: string
                              description: Meta information
                      SERVER_LOG_FILE:
                        type: array
                        description: |
                          Server log file / Windows Event
                        items:
                          type: object
                          properties:
                            displayname:
                              type: string
                              description: User-defined event title
                            name:
                              type: string
                              description: Event rule unique identifier
                            logdefault:
                              type: boolean
                              description: Whether to use the default log configuration
                              default: false
                            id:
                              type: string
                              description: Event rule unique identifier
                            conditions:
                              type: array
                              description: List of event conditions
                            conditions.FilePath:
                              type: string
                              description: >-
                                Path of the file to watch (used when eventSource
                                == 1 or 5)
                            conditions.elapsedSecond:
                              type: integer
                              description: >-
                                Trigger if no modification for n seconds (used
                                when checkTypes is MTIME_UNCHANGED and
                                eventSource == 5)
                            conditions.SearchStringRepeatCount:
                              type: integer
                              description: Repeat count (used when eventSource == 1 or 2)
                            conditions.Severity:
                              type: integer
                              description: 'Event level (severity) — 3: warning, 5: critical'
                              enum:
                                - 3
                                - 5
                            conditions.WinEventCode:
                              type: integer
                              description: Windows Event ID (used when eventSource == 2)
                            conditions.WinEventMsgRegexExclude:
                              type: string
                              description: Exclusion keyword (used when eventSource == 2)
                            conditions.EventSource:
                              type: integer
                              description: >-
                                Log event type — 1: Log file keyword event, 2:
                                Windows Event, 5: Log file watch event
                              enum:
                                - 1
                                - 2
                                - 5
                            conditions.checkTypes:
                              type: array
                              description: File watch types (used when eventSource == 5)
                              items:
                                type: string
                                enum:
                                  - USER
                                  - GROUP
                                  - PERMISSION
                                  - FILE_NOT_FOUND
                                  - MTIME_CHANGED
                                  - MTIME_UNCHANGED
                            conditions.FileRegex:
                              type: string
                              description: Search keyword (used when eventSource == 1)
                            conditions.FileRegexExclude:
                              type: string
                              description: Exclusion keyword (used when eventSource == 1)
                            conditions.WinType:
                              type: integer
                              description: Level (used when eventSource == 2)
                            conditions.WinSourceName:
                              type: string
                              description: Source (used when eventSource == 2)
                            conditions.WinLogFile:
                              type: string
                              description: Log name (used when eventSource == 2)
                              enum:
                                - Application
                                - Security
                                - Setup
                                - System
                                - ForwardedEvents
                            conditions.WinEventMsgRegex:
                              type: string
                              description: Search keyword (used when eventSource == 2)
                            conditions.SearchStringRepeatDuration:
                              type: integer
                              description: >-
                                Duration (seconds) (used when eventSource == 1
                                or 2)
                            enabled:
                              type: boolean
                              description: Whether the event rule is enabled
                      Transaction:
                        type: array
                        description: |
                          Transaction events
                        items:
                          type: object
                          properties:
                            silentTime:
                              type: long
                              description: Mute duration
                            appCtx:
                              type: array
                              description: Business name pattern list
                              items:
                                type: string
                            excludeStatus:
                              type: array
                              description: Status code exclude patterns
                              items:
                                type: string
                            errorClass:
                              type: array
                              description: Error class patterns
                              items:
                                type: string
                            errorMessage:
                              type: array
                              description: Error message patterns
                              items:
                                type: string
                            excludeErrorMessage:
                              type: array
                              description: Error message exclude patterns
                              items:
                                type: string
                            enabled:
                              type: boolean
                              description: Whether the event rule is enabled
                            url:
                              type: array
                              description: URL patterns
                              items:
                                type: string
                            excludeUrl:
                              type: array
                              description: URL exclude patterns
                              items:
                                type: string
                            excludeErrorClass:
                              type: array
                              description: Error class exclude patterns
                              items:
                                type: string
                            eventTitle:
                              type: string
                              description: User-defined event title
                            eventLevel:
                              type: string
                              description: Event level
                            limit:
                              type: integer
                              description: Occurrence count
                            conditionValue:
                              type: string
                              description: >-
                                Baseline value according to condition type (used
                                only when `conditionType == elapsed`)
                            conditionType:
                              type: string
                              description: Condition type
                              enum:
                                - elapsed
                                - error
                                - none
                            id:
                              type: string
                              description: Event rule unique identifier
                            resultType:
                              type: string
                              description: Aggregation scope
                              enum:
                                - per-agent
                                - per-url
                                - per-agent-url
                                - per-error
                                - per-agent-error
                                - per-appctx
                                - per-agent-appctx
                                - total
                            excludeAppCtx:
                              type: array
                              description: Business name exclude patterns
                              items:
                                type: string
                            status:
                              type: array
                              description: Status code patterns
                              items:
                                type: string
                      ANOMALY:
                        type: array
                        description: |
                          Anomaly detection events
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: Event rule unique identifier
                            pcode:
                              type: long
                              description: Project code
                            category:
                              type: string
                              description: Data collection category
                            enabled:
                              type: boolean
                              description: Whether the event rule is enabled
                            eventMessage:
                              type: string
                              description: User-defined event message
                            eventLevelText:
                              type: string
                              description: Event level
                            repeatCount:
                              type: integer
                              description: Repeat count
                            silentSec:
                              type: integer
                              description: Mute duration (seconds)
                            tags:
                              type: object
                              description: Target filter condition (agent selection)
                              additionalProperties:
                                type: array
                                items:
                                  type: string
                            fields:
                              type: array
                              description: Fields
                              items:
                                type: string
                            width:
                              type: number
                              format: float
                              description: '*Fixed value*'
                            negativeScore:
                              type: number
                              format: float
                              description: Sensitivity for downward patterns
                            positiveScore:
                              type: number
                              format: float
                              description: Sensitivity for upward patterns
                            ignoreNegative:
                              type: boolean
                              description: Whether to ignore downward patterns
                            ignorePositive:
                              type: boolean
                              description: Whether to ignore upward patterns
                            objectMerge:
                              type: string
                              description: Data merge method per agent
                            filter:
                              type: object
                              deprecated: true
                              description: '*Deprecated*'
                      HITMAP:
                        type: array
                        description: |
                          Heatmap pattern events
                        items:
                          type: object
                          properties:
                            pcode:
                              type: long
                              description: Project code
                            config:
                              type: object
                              description: >-
                                Per-pattern settings (`key`: pattern key,
                                `value`: pattern settings)
                              properties:
                                horizontal:
                                  type: object
                                  description: Heatmap horizontal-line pattern settings
                                  properties:
                                    enabled:
                                      type: boolean
                                      description: Whether the pattern is enabled
                                    silent:
                                      type: long
                                      description: Mute duration
                                flying:
                                  type: object
                                  description: Heatmap flying pattern settings
                                  properties:
                                    enabled:
                                      type: boolean
                                      description: Whether the pattern is enabled
                                    silent:
                                      type: long
                                      description: Mute duration
                                vertical:
                                  type: object
                                  description: Heatmap vertical-line pattern settings
                                  properties:
                                    enabled:
                                      type: boolean
                                      description: Whether the pattern is enabled
                                    silent:
                                      type: long
                                      description: Mute duration
                                overload:
                                  type: object
                                  description: Heatmap overload pattern settings
                                  properties:
                                    enabled:
                                      type: boolean
                                      description: Whether the pattern is enabled
                                    silent:
                                      type: long
                                      description: Mute duration
                                flood:
                                  type: object
                                  description: Heatmap flood pattern settings
                                  properties:
                                    enabled:
                                      type: boolean
                                      description: Whether the pattern is enabled
                                    silent:
                                      type: long
                                      description: Mute duration
                            exceptTime:
                              type: long
                              description: Detection exclude duration
              example:
                - productType: APM
                  platform: JAVA
                  events:
                    - BASIC:
                        - criticalEnabled: false
                          warningEnabled: true
                          silentPeriod: 300000
                          metaId: java004
                          displayName: Active Transaction
                          criticalThreshold: ''
                          warningThreshold: active_tx_count > 100
                          message: Active Transaction = ${active_tx_count}
                          version: 2
                          enabled: false
                          repeatDuration: 0
                          id: x3gpgkfnnc3f39
                          conditions:
                            - level: 20
                              rule: active_tx_count > 100
                              enabled: true
                          selectCondition: {}
                          stateful: false
                          repeatCount: 1
                        - criticalEnabled: true
                          warningEnabled: true
                          silentPeriod: 300000
                          metaId: java002
                          displayName: Server Memory
                          criticalThreshold: mem > 90
                          warningThreshold: mem > 70
                          message: Server Memory = ${mem}
                          version: 2
                          enabled: false
                          repeatDuration: 0
                          id: xc1l4q6pdefcf
                          conditions:
                            - level: 30
                              rule: mem > 90
                              enabled: true
                            - level: 20
                              rule: mem > 70
                              enabled: true
                          selectCondition: {}
                          stateful: false
                          repeatCount: 1
                      METRICS:
                        - eventMessage: 'Metrics: tx_count: ${tx_count}'
                          select: ${oname} == 'eureka'
                          alertLabel: []
                          rule: ${tx_count} >= 120
                          silentSec: 0
                          version: 0
                          enabled: true
                          eventTitle: Transaction count exceeds 120
                          repeatDuration: 0
                          eventLevel: 30
                          id: z9jqlbn0217eml
                          category: app_counter
                          conditions:
                            - level: 30
                              rule: ${tx_count} >= 120
                              enabled: true
                          stateful: true
                          repeatCount: 0
                      COMPOSITE_METRICS:
                        - interval_sec: 60
                          query: |-
                            CATEGORY app_counter
                            TAGLOAD
                            SELECT
                            GROUP { timeunit:1m, merge:"tx_count", pk:"oid" }
                            CREATE { key: _pk_, value: "oid" }
                          rule: tx_count > 5
                          event_title: key oid
                          enabled: false
                          silent_sec: 60
                          event_level: 20
                          id: z8aadoam9thlqp
                          time_trim: 5000
                          event_message: 'tx_count : ${tx_count}'
                          time_period: 60000
                          stateful: true
                          desc: >-
                            {"widgetType":"EXPERT","supports":[],"isExpertEditable":false,"flexEventWidget":{"widgetType":"FLEX_EVENT","id":"composite_metrics_widget","requestApi":"LAST","option":{"stime":1751591820000,"etime":1751595420000,"isLive":false,"liveUpdateIntervalSec":0,"globalTime":false,"chart":"SERIES","pcodes":[4],"flex_event":{"category":"app_counter","tagPksGroup":{"pks":["oid"],"timeunit":5000},"fieldsWithMerges":[{"key":"httpc_count","timeMerge":"AVG","objectMerge":"AVG","unit":"COUNT","_label":"92a1f326-b9b7-45c7-8c9f-6bc4b023ac0f"}]},"chartAside":{"chart":"TABLE"},"timeAction":"CUSTOM"},"metrics":[{"mql":"INJECT
                            timepast\nHEADER { \"httpc_count$\":\"COUNT\"
                            }\nOIDSET { oid:$oid, okind:$okind, onode:$onode
                            }\nCATEGORY \"app_counter\"\nTAGLOAD\nINJECT
                            default\nUPDATE {key: httpc_count, value:
                            avg}\nGROUP {pk:[oid], timeunit: 5000}\nUPDATE {key:
                            httpc_count, value: avg}\nCREATE {key: _id_,
                            expr:\"oid\"}\nCREATE {key: _name_, expr:\"oid\"}
                            \nSELECT [_name_, _id_, time, oid,
                            httpc_count]\n"}]},"pcode":4}
                      TRANSACTION:
                        - silentTime: 60000,
                          appCtx: []
                          excludeStatus:
                            - gg
                          errorClass: []
                          errorMessage: []
                          excludeErrorMessage: []
                          enabled: true
                          url:
                            - '**/pusan'
                          excludeUrl:
                            - '*add*'
                          excludeErrorClass: []
                          eventTitle: Transaction event
                          eventLevel: 20
                          limit: 1
                          conditionValue: 0
                          conditionType: none
                          id: z8c3sdrt04jpcs
                          resultType: per-agent
                          excludeAppCtx: []
                          status: []
    x-codeSamples:
      - lang: curl
        source: |
          curl --location \
          -w "\n" \
          -H "Content-Type: application/json" \
          -H 'x-whatap-token: {{PROJECT_API_TOKEN}}' \
          -H 'x-whatap-pcode: {{projectCode}}' \
          "https://api.whatap.io/open/api/json/event/v2/settings"
  /open/api/json/event/history:
    get:
      summary: Querying the event history
      description: You can querying the event records that occurred in the project.
      tags:
        - Event
      parameters:
        - $ref: '#/components/parameters/WhatapTokenHeader'
        - $ref: '#/components/parameters/WhatapPcodeHeader'
        - $ref: '#/components/parameters/StartTimeQuery'
        - $ref: '#/components/parameters/EndTimeQuery'
        - $ref: '#/components/parameters/Progress'
        - $ref: '#/components/parameters/OidPathopt'
        - $ref: '#/components/parameters/OkindQuery'
        - $ref: '#/components/parameters/OnodesQuery'
      responses:
        '200':
          description: Query success
          content:
            application/json:
              schema:
                type: object
                properties:
                  metricName:
                    type: string
                    description: Metrics name
                  pcode:
                    type: integer
                    description: Project code
                  onodeName:
                    type: string
                    description: Agent Group Name per Server
                  displayTag:
                    type: string
                    description: Value for displaying event status tags
                  metricValue:
                    type: float
                    description: Metrics value
                  oid:
                    type: integer
                    description: Agent's unique identifier (ID)
                  title:
                    type: string
                    description: Event title
                  uuid:
                    type: integer
                    description: Event unique identifier
                  okind:
                    type: integer
                    description: Agent Group IDs for each Type
                  ackCount:
                    type: integer
                    description: Acknowledge count
                  eventTime:
                    type: integer
                    format: int64
                    description: Time when the event occurred
                  disabled:
                    type: boolean
                    description: >
                      Whether the event has ended: 

                      - If the event is resolved due to a value below the
                      threshold

                      - If the user intentionally disables the event rule.

                      - If the event is blocked due to mass notifications, etc.

                      - If the event has additional acknowledge
                  id:
                    type: integer
                    description: Event unique identifier (ID)
                  acknowledges:
                    type: array
                    description: Acknowledge
                  stateful:
                    type: boolean
                    description: Whether to enable the resolved event notification feature
                  product:
                    type: string
                    description: Server type
                  level:
                    type: string
                    description: Warning level
                  updateTime:
                    type: integer
                    format: int64
                    description: Event update time
                  message:
                    type: string
                    description: Event message
                  metricThreshold:
                    type: string
                    description: Threshold
                  oname:
                    type: string
                    description: Agent name
                  escalation:
                    type: boolean
                    description: Whether to repeat notifications
                  tagCount:
                    type: boolean
                    description: TagCount Category Event
                  systemEvent:
                    type: boolean
                    description: System event
                  offTime:
                    type: integer
                    description: Resolved time
                  category:
                    type: string
                    description: TagCount Category
                  okindName:
                    type: string
                    description: Agent Group Name per Type
                  onode:
                    type: integer
                    description: Agent Group IDs for each Server
                  snapshot:
                    type: string
                    description: >-
                      Snapshot at the time the event occurred (only for basic
                      events on the server)
                  status:
                    type: string
                    description: Event status
              example:
                - metricName: mem
                  pcode: '7'
                  onodeName: ''
                  displayTag: inprogress
                  metricValue: '99.73802'
                  oid: -17079562
                  title: Server Memory
                  uuid: c5cf01fe9daf43ce99a9028e0a804d35
                  okind: 0,
                  ackCount: 0,
                  eventTime: 1733288350068,
                  disabled: false,
                  id: 44,
                  acknowledges: []
                  stateful: true
                  process: 0
                  product: ap
                  level: Critical
                  triggerId: 0
                  updateTime: 1733288350128
                  message: Server Memory = 99.738
                  metricThreshold: '90'
                  oname: front
                  escalation: true
                  tagCount: true
                  systemEvent: false
                  offTime: 0
                  category: app_host_resource
                  okindName: ''
                  onode: 0
                  snapshot: null
                  status: 'ON'
                - metricName: cpu
                  pcode: 7
                  onodeName: ''
                  displayTag: inprogress
                  metricValue: '19.947985'
                  oid: -17079562
                  title: Server CPU
                  uuid: 5d7a40d11a1144a8b7bad7e2c71cda2e
                  okind: 0
                  ackCount: 0
                  eventTime: 1733288325022
                  disabled: false
                  id: 42
                  acknowledges: []
                  stateful: true
                  process: 0
                  product: ap
                  level: Warning
                  triggerId: 0
                  updateTime: 1733288325055
                  message: Server CPU = 19.948
                  metricThreshold: '0'
                  oname: front
                  escalation: false
                  tagCount: true
                  systemEvent: false
                  offTime: 0
                  category: app_host_resource
                  okindName: ''
                  onode: 0
                  snapshot: null
                  status: 'ON'
      x-codeSamples:
        - lang: curl
          source: >
            curl --location \

            -w "\n" \

            -H 'x-whatap-token: {{PROJECT_API_TOKEN}}' \

            -H 'x-whatap-pcode: {{projectCode}}' \

            "https://api.whatap.io/open/api/json/event/history?stime=1733065200000&etime=1733103557000&progress=true&oids=-17079562%2C352247167"
  /open/api/v2/agent/list:
    post:
      summary: Calling the oid list
      description: |
        This API allows you to view active agents during the desired period. The
        query time (`stime`, `etime`) is limited to one day and its unit is ms
        (millisecond).


        Among the sample codes in the example, change the parameter values such
        as `stime` and `etime` according to the user environment. The parameter
        values can be requested in various formats.


        * 1693475430087 (unix timestamp)

        * `yyyyMMddHHmmss`

        * `yyyyMMddHHmm`

        * `MMddHHmmss`

        * `MMddHHmm`
      tags:
        - Agent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                stime:
                  type: integer
                  format: int64
                  description: Query start time (UNIX epoch time, millisecond)
                etime:
                  type: integer
                  format: int64
                  description: Query end time (UNIX epoch time, millisecond)
            example:
              stime: 1690850183000
              etime: 1693321200000
      parameters:
        - $ref: '#/components/parameters/WhatapTokenHeader'
        - $ref: '#/components/parameters/WhatapPcodeHeader'
      responses:
        '200':
          description: Call Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  stime:
                    type: integer
                    format: int64
                    description: Query start time (UNIX epoch time, millisecond)
                  etime:
                    type: integer
                    format: int64
                    description: Query end time (UNIX epoch time, millisecond)
                  timestamp:
                    type: integer
                    format: int64
                    description: Data creation time (UNIX epoch time, millisecond)
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        oid:
                          type: integer
                          description: Agent's unique identifier (ID)
                        oname:
                          type: string
                          description: Agent name
                        alias:
                          type: string
                          description: Agent Alias
                        initial:
                          type: string
                          description: Agent Initial
                        otype:
                          type: string
                          description: Agent Type
                        subtype:
                          type: string
                          description: Agent Sub Type
                        active:
                          type: boolean
                          description: Agent Active
                        okind:
                          type: integer
                          description: Agent Group IDs for each Type
                        okindName:
                          type: string
                          description: Agent Group Name per Type
                        onode:
                          type: integer
                          description: Agent Group IDs for each Server
                        onodeName:
                          type: string
                          description: Agent Group Name per Server
                        ip:
                          type: string
                          description: Agent IP Address
                        agent.version:
                          type: string
                          description: Agent Version
                        cpuCores:
                          type: integer
                          description: |
                            Number of CPU cores on the server where the agent is
                            installed
              example:
                stime: 1690850183000
                etime: 1693321200000
                timestamp: 1693388196965
                data:
                  - oid: 757639646
                    oname: DBX-0-107-3306
                    alias: ''
                    initial: ''
                    otype: database
                    subtype: '0'
                    active: false
                    okind: 0
                    okindName: ''
                    onode: 0
                    onodeName: ''
                    ip: ''
                    agent.version: ''
                    cpuCores: 0
      x-codeSamples:
        - lang: curl
          source: |
            curl --location \
            'https://api.whatap.io/open/api/v2/agent/list' \
            -H 'x-whatap-token: {{PROJECT_API_TOKEN}}' \
            -H 'x-whatap-pcode: {{projectCode}}' \
            -d '{"stime":{stime},"etime":{etime}}'
  /open/api/json/spot:
    get:
      summary: Viewing all information
      operationId: getApmAllinfo
      description: |
        This API allows you to view all information of the application
        monitoring project.
      tags:
        - APM spot information API
      parameters:
        - $ref: '#/components/parameters/WhatapTokenHeader'
        - $ref: '#/components/parameters/WhatapPcodeHeader'
      responses:
        '200':
          description: Query success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getApmAllinfo'
              example:
                pcode: 8
                act_agent: '6'
                inact_agent: '6'
                host: '1'
                cpucore: '2'
                txcount: '459'
                tps: '93.07'
                user: '1007'
                actx: '149'
                rtime: '1873'
                cpu: '29.35'
                threadpool_active: '0'
                threadpool_queue: '0'
                dbconn_total: '600.0'
                dbconn_act: '239.0'
                dbconn_idle: '361.0'
                act_method: '51'
                act_sql: '24'
                act_httpc: '64'
                act_dbc: '10'
                act_socket: '0'
                apdex: '0.9871'
      x-codeSamples:
        - lang: curl
          source: |
            curl -L \
              -w "\n" \
              -H "x-whatap-token: {{PROJECT_API_TOKEN}}" \
              -H "x-whatap-pcode: {{projectCode}}" \
              "https://api.whatap.io/open/api/json/spot"
  /open/api/act_agent:
    get:
      summary: Viewing the active agent count
      description: |
        This API allows you to view the number of active agents in the
        application monitoring project.
      tags:
        - APM spot information API
      parameters:
        - $ref: '#/components/parameters/WhatapTokenHeader'
        - $ref: '#/components/parameters/WhatapPcodeHeader'
      responses:
        '200':
          description: Query success
          content:
            text/plain:
              schema:
                type: integer
                description: Active agent count
              example: 5
      x-codeSamples:
        - lang: curl
          source: |
            curl -L \
              -w "\n" \
              -H "x-whatap-token: {{PROJECT_API_TOKEN}}" \
              -H "x-whatap-pcode: {{projectCode}}" \
              "https://api.whatap.io/open/api/act_agent"
  /open/api/inact_agent:
    get:
      summary: Viewing the inactive agent count
      description: |
        This API allows you to view the number of inactive agents in the
        application monitoring project.
      tags:
        - APM spot information API
      parameters:
        - $ref: '#/components/parameters/WhatapTokenHeader'
        - $ref: '#/components/parameters/WhatapPcodeHeader'
      responses:
        '200':
          description: Query success
          content:
            text/plain:
              schema:
                type: integer
                description: Inactive agent count
              example: 2
      x-codeSamples:
        - lang: curl
          source: |
            curl -L \
              -w "\n" \
              -H "x-whatap-token: {{PROJECT_API_TOKEN}}" \
              -H "x-whatap-pcode: {{projectCode}}" \
              "https://api.whatap.io/open/api/inact_agent"
  /open/api/host:
    get:
      summary: Host count
      description: |
        This API allows you to view the number of hosts connected to the
        application monitoring project.
      tags:
        - APM spot information API
      parameters:
        - $ref: '#/components/parameters/WhatapTokenHeader'
        - $ref: '#/components/parameters/WhatapPcodeHeader'
      responses:
        '200':
          description: Query success
          content:
            text/plain:
              schema:
                type: integer
                description: Host Count
              example: 5
      x-codeSamples:
        - lang: curl
          source: |
            curl -L \
              -w "\n" \
              -H "x-whatap-token: {{PROJECT_API_TOKEN}}" \
              -H "x-whatap-pcode: {{projectCode}}" \
              "https://api.whatap.io/open/api/host"
  /open/api/cpucore:
    get:
      summary: Sum of CPU cores of the host
      description: |
        This API allows you to view the sum of CPU cores of the host connected
        to the application monitoring project.
      tags:
        - APM spot information API
      parameters:
        - $ref: '#/components/parameters/WhatapTokenHeader'
        - $ref: '#/components/parameters/WhatapPcodeHeader'
      responses:
        '200':
          description: Query success
          content:
            text/plain:
              schema:
                type: integer
                description: CPU core count
              example: 16
      x-codeSamples:
        - lang: curl
          source: |
            curl -L \
              -w "\n" \
              -H "x-whatap-token: {{PROJECT_API_TOKEN}}" \
              -H "x-whatap-pcode: {{projectCode}}" \
              "https://api.whatap.io/open/api/cpucore"
  /open/api/txcount:
    get:
      summary: Transaction Count
      description: |
        This API allows you to view the number of transactions in the
        application monitoring project.
      tags:
        - APM spot information API
      parameters:
        - $ref: '#/components/parameters/WhatapTokenHeader'
        - $ref: '#/components/parameters/WhatapPcodeHeader'
      responses:
        '200':
          description: Query success
          content:
            text/plain:
              schema:
                type: integer
                description: Transaction Count
              example: 469
      x-codeSamples:
        - lang: curl
          source: |
            curl -L \
              -w "\n" \
              -H "x-whatap-token: {{PROJECT_API_TOKEN}}" \
              -H "x-whatap-pcode: {{projectCode}}" \
              "https://api.whatap.io/open/api/txcount"
  /open/api/tps:
    get:
      summary: TPS
      description: |
        This API allows you to view the number of transactions per second (TPS)
        in the application monitoring project.
      tags:
        - APM spot information API
      parameters:
        - $ref: '#/components/parameters/WhatapTokenHeader'
        - $ref: '#/components/parameters/WhatapPcodeHeader'
      responses:
        '200':
          description: Query success
          content:
            text/plain:
              schema:
                type: number
                format: float
                description: Number of Processed Transactions per second
              example: 92.03
      x-codeSamples:
        - lang: curl
          source: |
            curl -L \
              -w "\n" \
              -H "x-whatap-token: {{PROJECT_API_TOKEN}}" \
              -H "x-whatap-pcode: {{projectCode}}" \
              "https://api.whatap.io/open/api/tps"
  /open/api/user:
    get:
      summary: Active users (5 minutes)
      description: |
        This API allows you to view concurrent users in the application
        monitoring project, which measures users who issued transactions within
        the last 5 minutes.
      tags:
        - APM spot information API
      parameters:
        - $ref: '#/components/parameters/WhatapTokenHeader'
        - $ref: '#/components/parameters/WhatapPcodeHeader'
      responses:
        '200':
          description: Query success
          content:
            text/plain:
              schema:
                type: integer
                description: Real-time user count for 5 minutes
              example: 1007
      x-codeSamples:
        - lang: curl
          source: |
            curl -L \
              -w "\n" \
              -H "x-whatap-token: {{PROJECT_API_TOKEN}}" \
              -H "x-whatap-pcode: {{projectCode}}" \
              "https://api.whatap.io/open/api/user"
  /open/api/actx:
    get:
      summary: Active Transaction
      description: |
        This API allows you to view the number of active transactions in the
        application monitoring project.
      tags:
        - APM spot information API
      parameters:
        - $ref: '#/components/parameters/WhatapTokenHeader'
        - $ref: '#/components/parameters/WhatapPcodeHeader'
      responses:
        '200':
          description: Query success
          content:
            text/plain:
              schema:
                type: integer
                description: Active transaction count
              example: 171
      x-codeSamples:
        - lang: curl
          source: |
            curl -L \
              -w "\n" \
              -H "x-whatap-token: {{PROJECT_API_TOKEN}}" \
              -H "x-whatap-pcode: {{projectCode}}" \
              "https://api.whatap.io/open/api/actx"
  /open/api/rtime:
    get:
      summary: Average Res. Time
      description: |
        This API allows you to view the average response time in the application
        monitoring project.
      tags:
        - APM spot information API
      parameters:
        - $ref: '#/components/parameters/WhatapTokenHeader'
        - $ref: '#/components/parameters/WhatapPcodeHeader'
      responses:
        '200':
          description: Query success
          content:
            text/plain:
              schema:
                type: integer
                description: Average Res. Time
              example: 1644
      x-codeSamples:
        - lang: curl
          source: |
            curl -L \
              -w "\n" \
              -H "x-whatap-token: {{PROJECT_API_TOKEN}}" \
              -H "x-whatap-pcode: {{projectCode}}" \
              "https://api.whatap.io/open/api/rtime"
  /open/api/cpu:
    get:
      summary: Average CPU utilization
      description: |
        This API allows you to view the average CPU utilization in the
        application monitoring project.
      tags:
        - APM spot information API
      parameters:
        - $ref: '#/components/parameters/WhatapTokenHeader'
        - $ref: '#/components/parameters/WhatapPcodeHeader'
      responses:
        '200':
          description: Query success
          content:
            text/plain:
              schema:
                type: number
                format: float
                description: Average CPU utilization
              example: 9.26
      x-codeSamples:
        - lang: curl
          source: |
            curl -L \
              -w "\n" \
              -H "x-whatap-token: {{PROJECT_API_TOKEN}}" \
              -H "x-whatap-pcode: {{projectCode}}" \
              "https://api.whatap.io/open/api/cpu"
  /open/api/apdex:
    get:
      summary: Apdex
      description: |
        This API allows you to view the Apdex (Application Performance Index,
        application user satisfaction) in the application monitoring project.
      tags:
        - APM spot information API
      parameters:
        - $ref: '#/components/parameters/WhatapTokenHeader'
        - $ref: '#/components/parameters/WhatapPcodeHeader'
      responses:
        '200':
          description: Query success
          content:
            text/plain:
              schema:
                type: number
                format: float
                description: Apdex
              example: 0.9871
      x-codeSamples:
        - lang: curl
          source: |
            curl -L \
              -w "\n" \
              -H "x-whatap-token: {{PROJECT_API_TOKEN}}" \
              -H "x-whatap-pcode: {{projectCode}}" \
              "https://api.whatap.io/open/api/apdex"
  /open/api/json/exception/{stime}/{etime}:
    get:
      summary: Exception
      description: |
        This API allows you to view the exception details during the time set in
        the application monitoring project.
      tags:
        - APM viewing the statistical data
      parameters:
        - $ref: '#/components/parameters/WhatapAccoutTokenHeader'
        - $ref: '#/components/parameters/WhatapPcodeHeader'
        - $ref: '#/components/parameters/StartTimePath'
        - $ref: '#/components/parameters/EndTimePath'
      responses:
        '200':
          description: Query success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionRecord'
              example:
                records:
                  - oids: '[-1459620666]'
                    time: 1535557500000
                    classHash: -1811136020
                    count: 14
                    service: /account/delete/dept/daegu
                    class: java.sql.SQLException(0)
                    serviceHash: 1900616259
                    snapSeq: '6068699991557528332'
                    msg: Sql Exception
                total: 2063
      x-codeSamples:
        - lang: curl
          source: |
            curl -L \
            -w "\n" \
            -H "x-whatap-token: {{PROJECT_API_TOKEN}}" \
            -H "x-whatap-pcode: {{projectCode}}" \
            "https://api.whatap.io/open/api/json/exception/{stime}/{etime}"
  /open/api/json/httpc/{stime}/{etime}:
    get:
      summary: HTTP outbound call
      description: |
        This API allows you to view the HTTP outbound call records during the
        time set in the application monitoring project.
      tags:
        - APM viewing the statistical data
      parameters:
        - $ref: '#/components/parameters/WhatapAccoutTokenHeader'
        - $ref: '#/components/parameters/WhatapPcodeHeader'
        - $ref: '#/components/parameters/StartTimePath'
        - $ref: '#/components/parameters/EndTimePath'
      responses:
        '200':
          description: Query success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpcRecord'
              example:
                records:
                  - Sum: 22628
                    Port: 10002
                    Url: /remote/account/save/employee/kwangju
                    Host: 127.0.0.1
                    Max: 1815
                    Stdev: '247.95'
                    Actived: 0
                    Avg: 1131
                    HostHash: -675813464
                    Min: 1002
                    Error: 0
                    Total: 20
                    UrlHash: -243814510
                total: 4923
      x-codeSamples:
        - lang: curl
          source: |
            curl -L \
            -w "\n" \
            -H "x-whatap-token: {{PROJECT_API_TOKEN}}" \
            -H "x-whatap-pcode: {{projectCode}}" \
            "https://api.whatap.io/open/api/json/httpc/{stime}/{etime}"
  /open/api/json/httpc/{stime}/{etime}/filter/host/{host}/port/{port}:
    get:
      summary: HTTP Outbound Call Filtering
      description: |
        This API allows you to filter HTTP outbound call records based on the
        host address and port number during the time set in the application
        monitoring project.
      tags:
        - APM viewing the statistical data
      parameters:
        - $ref: '#/components/parameters/WhatapAccoutTokenHeader'
        - $ref: '#/components/parameters/WhatapPcodeHeader'
        - $ref: '#/components/parameters/StartTimePath'
        - $ref: '#/components/parameters/EndTimePath'
        - name: host
          in: path
          required: true
          schema:
            type: string
            description: Host Address for Filtering
        - name: port
          in: path
          required: true
          schema:
            type: string
            description: Host Port Number for Filtering
      responses:
        '200':
          description: Query success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpcRecord'
              example:
                records:
                  - Service: /sales/remove/unit/kwangju
                    Host: 127.0.0.1
                    HostHash: -675813464
                    Avg: 1080
                    Error: 0
                    Sum: 2411644
                    Port: 10007
                    Service_hash: -1003301916
                    Url: /remote/account/save/employee/seoul
                    Max: 2442
                    Stdev: '159.01'
                    UrlHash: 180997672
                    Total: 2233
                    Min: 1001
                  - Service: /product/delete/employee/daejun
                    Host: 127.0.0.1
                    HostHash: -675813464
                    Avg: 1085
                    Error: 0
                    Sum: 2075036
                    Port: 10007
                    Service_hash: 2100205994
                    Url: /remote/account/save/employee/pusan
                    Max: 2462
                    Stdev: '173.06'
                    UrlHash: -924053750
                    Total: 1911
                    Min: 1001
                total: 1080
      x-codeSamples:
        - lang: curl
          source: >
            curl -L \


            -w "\n" \


            -H "x-whatap-token: {{PROJECT_API_TOKEN}}" \


            -H "x-whatap-pcode: {{projectCode}}" \


            "https://api.whatap.io/open/api/json/httpc/{stime}/{etime}/filter/host/{host}/port/{port}"
  /open/api/json/sql/{stime}/{etime}:
    get:
      summary: SQL
      description: |
        This API allows you to view the SQL statements during the time set in
        the application monitoring project.
      tags:
        - APM viewing the statistical data
      parameters:
        - $ref: '#/components/parameters/WhatapAccoutTokenHeader'
        - $ref: '#/components/parameters/WhatapPcodeHeader'
        - $ref: '#/components/parameters/StartTimePath'
        - $ref: '#/components/parameters/EndTimePath'
      responses:
        '200':
          description: Query success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SqlQueryRecord'
              example:
                records:
                  - time_max: 4164
                    dbcHash: 450678784
                    db: jdbc:mysql://localhost:3306,localhost:3310/fake
                    time_min: 0
                    fetch_count: 0
                    hash: 796628118
                    fetch_time: 0
                    sql_crud: 0
                    count_total: 5224
                    count_error: 0
                    sql: update table set x=# where key=#
                    time_sum: 581391
                    time_avg: 111
                    time_std: '240.79'
                    count_actived: 0
                total: 130
      x-codeSamples:
        - lang: curl
          source: |
            curl -L \
            -w "\n" \
            -H "x-whatap-token: {{PROJECT_API_TOKEN}}" \
            -H "x-whatap-pcode: {{projectCode}}" \
            "https://api.whatap.io/open/api/json/sql/{stime}/{etime}"
  /open/api/json/remote/{stime}/{etime}:
    get:
      summary: Client IP
      description: |
        This API allows you to view the remote client IPs during the time set in
        the application monitoring project. WhaTap basically stores the
        client-related information.
      tags:
        - APM viewing the statistical data
      parameters:
        - $ref: '#/components/parameters/WhatapAccoutTokenHeader'
        - $ref: '#/components/parameters/WhatapPcodeHeader'
        - $ref: '#/components/parameters/StartTimePath'
        - $ref: '#/components/parameters/EndTimePath'
      responses:
        '200':
          description: Query success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteClientIpRecord'
              example:
                records:
                  - count: 86
                    city: Winnipeg
                    country: CA (CANADA)
                    ip: 140.193.83.68
                total: 1000
      x-codeSamples:
        - lang: curl
          source: |
            curl -L \
            -w "\n" \
            -H "x-whatap-token: {{PROJECT_API_TOKEN}}" \
            -H "x-whatap-pcode: {{projectCode}}" \
            "https://api.whatap.io/open/api/json/remote/{stime}/{etime}"
  /open/api/json/transaction/{stime}/{etime}:
    get:
      summary: Transactions
      description: |
        This API allows you to view the transaction records during the time set
        in the application monitoring project.
      tags:
        - APM viewing the statistical data
      parameters:
        - $ref: '#/components/parameters/WhatapAccoutTokenHeader'
        - $ref: '#/components/parameters/WhatapPcodeHeader'
        - $ref: '#/components/parameters/StartTimePath'
        - $ref: '#/components/parameters/EndTimePath'
      responses:
        '200':
          description: Query success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionsRecord'
              example:
                records:
                  - apdex_tolerated: 98
                    apdex_satisfied: 279
                    apdex: 0.830379746835443
                    time_max: 44735
                    sql_fetch_time: 363
                    sql_time: 2628663
                    count: 10743
                    error: 29
                    sql_count: 22635
                    hash: -1485863373
                    sql_fetch: 6741607
                    httpc_avg: 1084
                    cpu_avg: 0
                    time_sum: 19911778
                    time_avg: 1853
                    httpc_count: 7072
                    service: /account/save/employee/seoul
                    mem_avg: 0
                total: 1080
      x-codeSamples:
        - lang: curl
          source: |
            curl -L \
            -w "\n" \
            -H "x-whatap-token: {{PROJECT_API_TOKEN}}" \
            -H "x-whatap-pcode: {{projectCode}}" \
            "https://api.whatap.io/open/api/json/transaction/{stime}/{etime}"
  /open/api/json/heap_use/{stime}/{etime}/avg:
    get:
      summary: Heap use - statistics average
      description: |
        This API allows you to view the average statistics for heap usage during
        the time set in the application monitoring project. The query time is
        limited to one hour and is measured in milliseconds (ms).
      tags:
        - APM viewing the statistical data
      parameters:
        - $ref: '#/components/parameters/WhatapAccoutTokenHeader'
        - $ref: '#/components/parameters/WhatapPcodeHeader'
        - $ref: '#/components/parameters/StartTimePath'
        - $ref: '#/components/parameters/EndTimePath'
      responses:
        '200':
          description: Query success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HeapUsageRecord'
              example:
                pcode: 5490
                stime: 1677747600000
                etime: 1677749594269
                timeMerge: avg
                unit: byte
                data:
                  - oid: -1143239575
                    oname: demo-8101
                    heap_use: '36121554.72'
                  - oid: -857948929
                    oname: demo-8105
                    heap_use: '37498925.139'
      x-codeSamples:
        - lang: curl
          source: |
            curl -L \
            -w "\n" \
            -H "x-whatap-token: {{PROJECT_API_TOKEN}}" \
            -H "x-whatap-pcode: {{projectCode}}" \
            "https://api.whatap.io/open/api/json/heap_use/{stime}/{etime}/avg"
  /open/api/json/heap_use/{stime}/{etime}/max:
    get:
      summary: Heap use - statistics maximum
      description: |
        This API allows you to view the maximum statistics for heap usage during
        the time set in the application monitoring project. The query time is
        limited to one hour and is measured in milliseconds (ms).
      tags:
        - APM viewing the statistical data
      parameters:
        - $ref: '#/components/parameters/WhatapAccoutTokenHeader'
        - $ref: '#/components/parameters/WhatapPcodeHeader'
        - $ref: '#/components/parameters/StartTimePath'
        - $ref: '#/components/parameters/EndTimePath'
      responses:
        '200':
          description: Query success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HeapUsageRecord'
              example:
                pcode: 5490
                stime: 1677747600000
                etime: 1677749594269
                timeMerge: max
                unit: byte
                data:
                  - oid: -1143239575
                    oname: demo-8101
                    heap_use: '36121554.72'
                  - oid: -857948929
                    oname: demo-8105
                    heap_use: '37498925.139'
      x-codeSamples:
        - lang: curl
          source: |
            curl -L \
            -w "\n" \
            -H "x-whatap-token: {{PROJECT_API_TOKEN}}" \
            -H "x-whatap-pcode: {{projectCode}}" \
            "https://api.whatap.io/open/api/json/heap_use/{stime}/{etime}/max"
  /open/api/json/{metric_type}/{stime}/{etime}:
    get:
      summary: Viewing the agent data
      description: |
        This API allows you to view the data for all agents during the time set
        in the application monitoring project.
      tags:
        - APM viewing the statistical data
      parameters:
        - $ref: '#/components/parameters/WhatapAccoutTokenHeader'
        - $ref: '#/components/parameters/WhatapPcodeHeader'
        - $ref: '#/components/parameters/MetricTypePath'
        - $ref: '#/components/parameters/StartTimePath'
        - $ref: '#/components/parameters/EndTimePath'
      responses:
        '200':
          description: Query success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentEachdata'
              example:
                pcode: 1234570141
                type: metric_type
                stime: 1536050100000
                etime: 1536050700000
                interval: 300
                timeMerge: sum
                objects:
                  - oname: '8080'
                    oid: -1234257485
                    series:
                      - - 1536050100000
                        - 95.2
                      - - 1536050400000
                        - 85.3
                      - - 1536050700000
                        - 91.43
                  - oname: TC-29-96-8082
                    oid: 1482741919
                    series:
                      - - 1536050100000
                        - 98.11
                      - - 1536050400000
                        - 81.44
                      - - 1536050700000
                        - 90.05
      x-codeSamples:
        - lang: curl
          source: |
            curl -L \
            -w "\n" \
            -H "x-whatap-token: {{PROJECT_API_TOKEN}}" \
            -H "x-whatap-pcode: {{projectCode}}" \
            "https://api.whatap.io/open/api/json/{metric_type}/{stime}/{etime}"
  /open/api/json/{metric_type}/{stime}/{etime}/avg:
    get:
      summary: Query for average agent data
      description: |
        This API allows you to view the average data for all agents during the
        time set in the application monitoring project.
      tags:
        - APM viewing the statistical data
      parameters:
        - $ref: '#/components/parameters/WhatapAccoutTokenHeader'
        - $ref: '#/components/parameters/WhatapPcodeHeader'
        - $ref: '#/components/parameters/MetricTypeAvgPath'
        - $ref: '#/components/parameters/StartTimePath'
        - $ref: '#/components/parameters/EndTimePath'
      responses:
        '200':
          description: Query success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentEachAvgdata'
              example:
                pcode: 1234570141
                type: metric_type
                stime: 1536050100000
                etime: 1536050700000
                interval: 300
                timeMerge: sum
                objectMerge: avg
                series:
                  - - 1536050100000
                    - 122.86
                  - - 1536050400000
                    - 99.26
                  - - 1536050700000
                    - 109.68
      x-codeSamples:
        - lang: curl
          source: >
            curl -L \


            -w "\n" \


            -H "x-whatap-token: {{PROJECT_API_TOKEN}}" \


            -H "x-whatap-pcode: {{projectCode}}" \


            "https://api.whatap.io/open/api/json/{metric_type}/{stime}/{etime}/avg"
  /open/api/json/{metric_type}/{stime}/{etime}/{oids}:
    get:
      summary: Viewing the specified agent data
      description: |
        This API allows you to view the thread counts of the specified agents
        (oids) during the time set in the application monitoring project.
        Multiple agents (oids) can be specified using comma (,) as the
        delimiter.
      tags:
        - APM viewing the statistical data
      parameters:
        - $ref: '#/components/parameters/WhatapAccoutTokenHeader'
        - $ref: '#/components/parameters/WhatapPcodeHeader'
        - $ref: '#/components/parameters/MetricTypePath'
        - $ref: '#/components/parameters/StartTimePath'
[...]
