:root {
  --cutomplatform-color: #929292;
}

[data-theme='dark'] {
  --cutomplatform-color: #dfdfdf;
}

header + .release_items {
  margin-top: 45px !important;
}

h2 + .release_items {
  margin-top: 45px;
}
.release_items:last-of-type .releasegroup:last-of-type .productrelease:last-of-type {
  border: none;
}

p.date {
  position: absolute;
  padding-top: 0 !important;
  left: -140px;
  line-height: 1.0;
}

.product {
  font-weight: 500;
  font-size: 1.2rem;
  padding-top: 0 !important;
  line-height: .9;
  margin-bottom: 8px !important;
}

.productrelease {
  margin-left: 110px;
  padding-left: 30px;
  border-left: 1px solid var(--ifm-font-color-base);
}

.subgroup {
  padding-bottom: 30px;
  position: relative;
}

.subgroup::before {
  content: " ";
  width: 15px;
  height: 15px;
  background-color: var(--ifm-alert-background);
  position: absolute ;
  display: inline-block;
  left: -39px;
  top: -0px;
  border-radius: 50%;
  border: 2px solid var(--ifm-font-color-base);
}

.rlist {
  display: block;
  padding-bottom: 8px;
}

.rlist div blockquote {
  position: relative;
  margin-bottom: 0;
  padding: 8px 0;
}

.rlist div blockquote p {
  padding: 4px 0;
}

.rlist + .rlist {
  padding-top: 8px;
}

.rlist p {
  display: inline;
  line-height: 1.2;
}

.rlist code {
  word-break: break-all;
}

.rlist div[class*='codeBlockContent'] pre {
  margin-bottom: 0;
}

.rlist div[class*='codeBlockContainer'] {
  background: var(--prism-background-color);
  border-radius: var(--ifm-code-border-radius);
  box-shadow: var(--ifm-global-shadow-lw);
  color: var(--prism-color);
}

.rlist div[class*='codeBlockTitle'] {
  border-bottom: 1px solid var(--ifm-color-emphasis-300);
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  font-size: var(--ifm-code-font-size);
  font-weight: 500;
  padding: .75rem var(--ifm-pre-padding);
}

.rlist div[class*='codeBlockContent'] {
  border-radius: inherit;
  direction: ltr;
  position: relative;
}

.rlist div[class*='buttonGroup'] {
  display: none;
}

.rlist a.goto {
  display: inline-block;
  position: relative;
  text-decoration: none;
  padding-bottom: 8px;
  font-weight: 300;
  font-size: 1.1rem;
  top: -5px;
}

.rlist a.goto:hover {
  text-decoration: underline;
}

.rlist a.goto img.icoLink {
  border: none;
  cursor: pointer;
  position: relative;
  display: inline-block;
  margin-left: 5px;
  top: 3px;
}

.platform {
  font-weight: 600;
  font-size: 1.15rem;
  color: var(--cutomplatform-color);
  padding-bottom: 8px;
}

.details {
  margin-top: 8px;
}

.details ul {
  margin-left: 20px !important;
}

.releaselist {
  display: block;
  position: relative;
}

.releaselist > li {
  padding-top: 8px;
  padding-bottom: 8px;
  display: inline;
}

.releaselist > li::marker {
  content: none;
}

.JavaVersion {
  font-size: 0.90rem;
  font-weight: bold;
  line-height: 1;
  position: relative;
  top: -7px;
  margin-left: 10px;
}