@media (max-width: 996px) {
  .searchBox {
    position: absolute;
    right: var(--ifm-navbar-padding-horizontal);
  }
}

@media (min-width: 997px) {
  .searchBox {
    padding: var(--ifm-navbar-item-padding-vertical) .4rem var(--ifm-navbar-item-padding-vertical) .05rem;
  }
}
